@import "../../../../theme/sass/conf/conf";
.panel-default {
    .panel-heading {
        margin-bottom: 10px;
    }
}
.filter-div {
    font-weight: 500;
    color: #b1b1b1;
}
.user-jobs-heading {
    display: inline-flex;
    h2 {
        margin: auto 0px;
        width: auto;
    }
}
.jobs-card-heading {
    width: 100%;
}
.jobs-section {
    margin-top: 10px;
}
.jobs-card {
    margin-bottom: 10px;
}
.jobs-card-header {
    position: relative;
}
.jobs-header-rating {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
.md-card-content-jobs-p {
    text-align: left;
    font-weight: 500;
    color: #1b1b1b;
}
.md-card-content-jobs-p-date {
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}
.jobs-stars .star-icon {
    font-size: unset !important;
}