@import "../../../../theme/sass/conf/conf";
.panel-default {
    .panel-heading {
        margin-bottom: 10px;
    }
}
.filter-div {
    font-weight: 500;
    color: #b1b1b1;
}
.user-jobs-heading {
    display: inline-flex;
    h2 {
        margin: auto 0px;
        width: auto;
    }
}
.jobs-card-heading {
    width: 100%;
}
.jobs-section {
    margin-top: 10px;
}
.jobs-card {
    margin-bottom: 10px;
}
.jobs-card-header {
    position: relative;
}
.jobs-header-rating {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
.md-card-content-jobs-p {
    text-align: left;
    font-weight: 500;
    color: #1b1b1b;
}
.md-card-content-jobs-p-date {
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}
.jobs-stars .star-icon {
    font-size: unset !important;
}
.jobs-input-box {
    input {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-weight: 400 !important;
    }
}
.category-select {
    min-width: 100%;
    height: 50px;
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #f0f0f0;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    .mat-select-value-text {
        font-size: 0.95rem;
        font-weight: 400;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    .mat-select-trigger {
        height: 100% !important;
    }
    .mat-select-underline {
        display: none;
    }
}
.jobs-input-box {
    margin-bottom: 15px;
    label {
        color: #7d7d7d;
        font-size: medium;
        margin-bottom: 10px;
    }
}
.info-window-bar {
    width: 100%;
    background-color: #ffffff;
    .left-notification-card.mat-card {
        padding: 5px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .left-notification-title.mat-card-title {
        color: #1b1b1b;
        font-weight: 600;
    }
    .left-notification-subtitle.mat-card-subtitle {
        font-size: small;
        color: #a3a3a3;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .left-notification-head.mat-card-header {
        .mat-card-header-text {
            margin-right: 0px !important;
        }
        .mat-card-avatar {
            cursor: pointer;
        }
        .left-notification-title.mat-card-title {
            cursor: pointer;
            width: max-content;
            max-width: 240px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .left-notification-subtitle.mat-card-subtitle {
            cursor: pointer;
            width: max-content;
            max-width: 240px;
        }
    }
    .left-notification-subhead.mat-card-header {
        cursor: pointer;
        padding-top: 10px;
        .mat-card-header-text {
            margin-right: 0px !important;
        }
        .left-notification-title.mat-card-title {
            width: max-content;
            font-size: small;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .left-notification-subtitle.mat-card-subtitle {
            width: max-content;
            font-size: smaller;
        }
    }
    .jobs-header-contact { 
        width: -webkit-fill-available;
        margin-top: 5px;
        text-align: right;
        .fa {
            cursor: pointer;
            padding-left: 10px; 
            color: #68d426;
            font-size: large;
        }
        div {
            font-size: smaller;
            color: #a3a3a3;
            font-weight: 500;
        }
    }
    .jobs-header-contact-rate {
        width: -webkit-fill-available;
        font-weight: 600;
        font-size: small;
        color: #026eff;
        span {
            padding-left: 5px;
        }
    }
}