<div class="container-fluid">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-jobs-heading">
                <md-card class="jobs-card-heading">
                    <md-card-header class="jobs-card-header jobs-card-heading">
                        <md-card-title style="font-weight: 600; color: #474747; margin-bottom: 0px">
                            <h2>Job Search</h2>
                        </md-card-title>
                        <div class="jobs-header-rating">
                            <div class="filter-div">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </md-card-header>
                </md-card>
            </div>
        </div>
    </div>

    <div class="jobs-section page-input-block">
        <md-card class="jobs-card">
            <md-card-content>
                <div class="form-group row">
                    <div class="col-12 col-sm-6">
                        <!-- <input #inputStreetAddress type="text" class="form-control" placeholder="Category"> -->
                        <select #inputStreetAddress>
                            <option>Construction</option>
                            <option>Engineering</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6">
                        <input #inputLocationAddress ng2-google-place-autocomplete [options]="{ types: [] }" (setAddress)="getAddress($event)" class="form-control"
                            placeholder="City, State or Zip Code">
                    </div>
                </div>
                <div>
                    <ngui-map center="{{ searchLocation }}">
                        
                    </ngui-map>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>