<div class="container-fluid animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-jobs-heading">
                <md-card class="jobs-card-heading">
                    <md-card-header class="jobs-card-header jobs-card-heading">
                        <md-card-title style="font-weight: 600; color: #474747; margin-bottom: 0px">
                            <h2>Job Search</h2>
                        </md-card-title>
                        <div class="jobs-header-rating">
                            <div class="filter-div">
                                <i class="fa fa-filter"></i>
                            </div>
                        </div>
                    </md-card-header>
                </md-card>
            </div>
        </div>
    </div>

    <div class="jobs-section page-input-block">
        <md-card class="jobs-card">
            <md-card-content>
                <div class="form-group row">
                    <div class="col-12 col-sm-6">

                    </div>
                    <div class="col-12 col-sm-6">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-6 jobs-input-box">
                        <label for="category">Category</label>
                        <md-select [(ngModel)]="selectedCategory" class="category-select">
                            <md-option (onSelectionChange)="changeCategory($event, category)" *ngFor="let category of categories" [value]="category.name">
                                {{ category.name }}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="col-12 col-sm-6 jobs-input-box">
                        <label for="address">Address</label>
                        <input #inputLocationAddress [(ngModel)]="searchLocation" ng2-google-place-autocomplete [options]="{ types: [] }" (setAddress)="getAddress($event)" class="form-control"
                            placeholder="">
                    </div>
                </div>
                <div>
                    <ngui-map center="{{ center }}" [zoomControlOptions]="{ position: 'TOP_RIGHT' }" [fullscreenControl]="false" [scrollwheel]="false">
                        <marker *ngFor="let job of jobs" [position]="job.coordinates" (click)="showMarkerInfo($event, job)" draggable="false" [icon]="{
                            url: 'assets/img/labor-search.png',
                            anchor: [16,24],
                            size: [32,48],
                            scaledSize: [32,48]
                          }" animation="DROP">
                            <info-window *ngIf="info" id="iw">
                                <div class="info-window-bar">
                                    <md-card class="left-notification-card">
                                        <md-card-header class="left-notification-head animated bounceInRight">
                                            <div (click)="showJobDetail(info)" md-card-avatar class="notification-header-image">
                                                <img mat-card-avatar [src]="info.profilePicture ? info.profilePicture : 'assets/img/kate.png'">
                                            </div>
                                            <md-card-title (click)="showJobDetail(info)" class="left-notification-title">{{info.employerName}}</md-card-title>
                                            <md-card-subtitle (click)="showJobDetail(info)" class="left-notification-subtitle">{{info.distance + ' mile away'}}</md-card-subtitle>
                                            <div class="jobs-header-contact">
                                                <div>
                                                    <i (click)="showPhoneInfo()" *ngIf="!info.isPhoneNumberHidden && !showPhone" class="fa fa-phone-square"></i>
                                                    <i (click)="showEmailInfo()" *ngIf="!showEmail" class="fa fa-envelope"></i>
                                                </div>
                                                <div *ngIf="showPhone">{{info.employerPhoneNumber}}</div>
                                                <div *ngIf="showEmail">{{info.employerEmail}}</div>
                                            </div>
                                        </md-card-header>
                                        <md-card-header (click)="showJobDetail(info)" class="left-notification-subhead animated bounceInRight">
                                            <div md-card-avatar class="notification-header-image">
                                                <img mat-card-avatar [src]="info.profilePicture ? info.profilePicture : 'assets/img/kate.png'">
                                            </div>
                                            <md-card-title class="left-notification-title">{{info.title}}</md-card-title>
                                            <md-card-subtitle class="left-notification-subtitle">{{info.address}}</md-card-subtitle>
                                            <div class="jobs-header-contact jobs-header-contact-rate">
                                                <span>{{'$' + info.rate + '/hr'}}</span>
                                            </div>
                                        </md-card-header>
                                    </md-card>
                                </div>
                            </info-window>
                        </marker>
                    </ngui-map>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>