<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <a class="app-logo-link" routerLink="/login">
                <img class="app-logo-image" src="assets/img/logo.png">
            </a>
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounceInUp">
            <div class="top-label">
                <h1>
                    <strong>Verification Code</strong>
                </h1>
                <h4 class="hidden-xs-down" style="line-height: 30px">
                    Enter the verification code sent
                    <br> to {{ selectedEmail }} via email.
                </h4>
                <h4 class="hidden-sm-up" style="line-height: 30px">
                    Enter the verification code sent to {{ selectedEmail }} via email.
                </h4>
            </div>
            <div class="verify-cred-margin"></div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, $event)" class="form-horizontal">
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-3 col-sm-3">
                                <input type="text" class="otp-input" maxlength="1" #inputCodeOne (keypress)="_keyPressNumber($event)" (keyup)="goto('inputCodeTwo')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" class="otp-input" maxlength="1" #inputCodeTwo (keypress)="_keyPressNumber($event)" (keyup)="goto('inputCodeThree')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" class="otp-input" maxlength="1" #inputCodeThree (keypress)="_keyPressNumber($event)" (keyup)="goto('inputCodeFour')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" class="otp-input" maxlength="1" #inputCodeFour (keypress)="_keyPressNumber($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verify-cred-margin-in"></div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="form-action-link">
                    <div class="form-group row">
                        <div class="col-6 col-sm-6 text-left forget change-credential">
                            <a style="cursor: pointer" (click)="resendVerificationCode()">
                                RESEND VERIFICATION CODE
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 text-right forget change-credential">
                            <a style="cursor: pointer" (click)="openChangeDialog()">
                                CHANGE EMAIL
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>