@import '../../../theme/sass/auth';
$white-color:#fff;
$main-color:blue;
.modal-header {
    background-color: $facebook-color;
    padding: 2%;
    color: $white-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.86;
}
.modal-content {
    border: 0;
    color: #9d9d9d;
    border-radius: 2px;
}
.modal-body {
    padding: 40px 40px 0;
    h5 {
        word-break: break-all;
    }
}
.modal-content {
    customer-modal {
        .row {
            border-bottom: 1px solid #7d7d7d;
            padding: 10px 1px;
            line-height: 12px;
        }
    }
    driver-modal {
        .row {
            border-bottom: 1px solid #7d7d7d;
            padding: 10px 1px;
            line-height: 12px;
        }
    }
    serviceprovider-modal {
        .row {
            border-bottom: 1px solid #7d7d7d;
            padding: 10px 1px;
            line-height: 12px;
        }
    }
    add-service-modal {
        .row {
            border-bottom: 1px solid #7d7d7d;
            padding: 10px 1px;
            line-height: 12px;
        }
    }
}
label {
    color: #9d9d9d;
    padding-left: 3%;
    font-size: 12px;
    line-height: 1px;
    letter-spacing: 0.9px;
}
.has-error > label {
    color: #9d9d9d;
}
.form-control {
    color: #9d9d9d;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #9d9d9d;
}
.btn-auth {
    border-radius: 3px;
    background-color: $main-color;
    border: solid 1px #99a0a3;
    width: 222px;
    height: 38px;
}
.btn-auth > span {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: center;
    color: #ffffff;
}
.cancelBtn {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px $main-color;
    width: 222px;
    height: 38px;
}
.cancelBtn > span {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.64;
    text-align: center;
    color: $main-color;
}
.rememberMe {
    font-size: 14px;
    line-height: 1.64;
    text-align: left;
    color: #252a2c;
}
p {
    font-size: 14px;
    text-align: center;
}
a {
    text-decoration: underline;
    cursor: pointer;
}