<div class="hidden-md-down left-notification-bar">
    <div *ngIf="companiesNotifications" class="notification">
        <div class="notification-banner">
            Companies just joined
        </div>
        <md-card class="left-notification-card">
            <md-card-header *ngFor="let company of companiesNotifications" class="left-notification-head animated bounceInRight">
                <div md-card-avatar class="notification-header-image">
                    <img mat-card-avatar [src]="company?.picture ? company?.picture : 'assets/img/user.png'">
                </div>
                <md-card-title class="left-notification-title">{{ company.name }}</md-card-title>
                <md-card-subtitle class="left-notification-subtitle">joined {{ company.createdAtFormatted }} ago</md-card-subtitle>
            </md-card-header>
            <div class="text-center" *ngIf="!topList">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </md-card>
    </div>
    <div *ngIf="laborsNotifications" class="notification">
        <div class="notification-banner">
            Users just joined
        </div>
        <md-card class="left-notification-card">
            <md-card-header *ngFor="let user of laborsNotifications" class="left-notification-head animated bounceInRight">
                <div md-card-avatar class="notification-header-image">
                    <img mat-card-avatar [src]="user?.picture ? user?.picture : 'assets/img/user.png'">
                </div>
                <md-card-title class="left-notification-title">{{ user.name }}</md-card-title>
                <md-card-subtitle class="left-notification-subtitle">joined {{ user.createdAtFormatted }} ago</md-card-subtitle>
            </md-card-header>
            <div class="text-center" *ngIf="!topList">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </md-card>
    </div>
    <div *ngIf="jobsNotifications" class="notification">
        <div class="notification-banner">
            New jobs
        </div>
        <md-card class="left-notification-card">
            <md-card-header *ngFor="let job of jobsNotifications" class="left-notification-head animated bounceInRight">
                <div md-card-avatar class="notification-header-image">
                    <img mat-card-avatar [src]="job?.picture ? job?.picture : 'assets/img/image-placeholder.jpg'">
                </div>
                <md-card-title class="left-notification-title">{{ job.name }}</md-card-title>
                <md-card-subtitle class="left-notification-subtitle">created {{ job.createdAtFormatted }} ago</md-card-subtitle>
            </md-card-header>
            <div class="text-center" *ngIf="!topList">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </md-card>
    </div>
</div>