<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <!-- <a class="app-logo-link" routerLink="/login">
                <img class="app-logo-image" src="assets/img/logo.png">
            </a> -->
            <img class="app-logo-image" src="assets/img/logo.png">
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounceInUp">
            <div class="top-label">
                <h1>
                    <strong>Haven't signed up yet?</strong>
                </h1>
                <h4>
                    Sign up to continue
                </h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginFacebook()" class="btn btn-warning btn-block btn-facebook">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="facebook"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH FACEBOOK
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginTwitter()" class="btn btn-warning btn-block btn-twitter">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="twitter"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH TWITTER
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 col-sm-12 signup-radio">
                        <md-radio-group class="signup-radio-button row" [formControl]="signUpType" (change)="changeSignUpType(signUpType.value)">
                            <md-radio-button class="col-6 col-sm-6 text-center" color="primary" value="USER">
                                <span class="hidden-xs-down">Sign up as </span>User</md-radio-button>
                            <md-radio-button class="col-6 col-sm-6 text-center" color="primary" value="EMPLOYER">
                                <span class="hidden-xs-down">Sign up as </span>Employer</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div *ngIf="signUpType.value == 'EMPLOYER'" class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputCompanyName type="text" [formControl]="companyName" [ngClass]="{'has-input-error': (!companyName.valid && (companyName.touched || submitted))}"
                            class="form-control" placeholder="Company Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputName type="text" [formControl]="name" [ngClass]="{'has-input-error': (!name.valid && (name.touched || submitted))}"
                            class="form-control" placeholder="Full Name*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 col-sm-3 phone-number-cc">
                        <img class="flag-placeholder" src="{{ 'assets/img/flags/iso/' + getCountryFlag(countryCode.value)?.toString()?.toLowerCase() + '.png' }}">
                        <input #inputCountryCode type="text" [formControl]="countryCode" [ngClass]="{'has-input-error': (!countryCode.valid && (countryCode.touched || submitted))}"
                            (focus)="countryCodeClick()" class="form-control" placeholder="+1" [mdAutocomplete]="auto" maxlength="5"
                            (keypress)="_keyPressCountryCode($event)">
                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option *ngFor="let country of countries | async" [value]="'+' + country.phone_code">
                                <img class="flag-options" src="{{ 'assets/img/flags/iso/' + country.country_code?.toString()?.toLowerCase() + '.png' }}"> {{ ' +' + country.phone_code }}
                                <span style="color: rgba(0, 0, 0, 0.3)">
                                    {{ country.country_code }}
                                </span>
                            </md-option>
                        </md-autocomplete>
                        <span class="separator-cc-container">
                            <span class="separator-cc"></span>
                        </span>
                    </div>
                    <div class="col-9 col-sm-9 phone-number-phone">
                        <input #inputPhone type="text" [formControl]="phone" [ngClass]="{'has-input-error': (!phone.valid && (phone.touched || submitted))}"
                            class="form-control" placeholder="Phone Number*" maxlength="15" (keypress)="_keyPressNumber($event)">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputEmail type="email" [formControl]="email" [ngClass]="{'has-input-error': (!email.valid && (email.touched || submitted))}"
                            class="form-control" placeholder="Email*">
                    </div>
                </div>
                <div *ngIf="signUpType.value == 'USER'" class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputExpertiseDescription type="text" class="form-control" [formControl]="expertiseDescription" placeholder="Expertise Description">
                    </div>
                </div>
                <div *ngIf="signUpType.value == 'EMPLOYER'" class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputDescription type="text" class="form-control" [formControl]="description" placeholder="Description">
                    </div>
                </div>
                <div *ngIf="!socialId.value" class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputPassword type="password" [ngClass]="{'has-input-error': (!password.valid && (password.touched || submitted))}"
                            class="form-control" placeholder="Password*" [formControl]="password">
                    </div>
                </div>
                <div *ngIf="!socialId.value" class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputConfirmPassword type="password" [ngClass]="{'has-input-error': ((!passwords.valid || !repeatPassword.valid) && (repeatPassword.touched || submitted))}"
                            class="form-control" placeholder="Confirm Password*" [formControl]="repeatPassword">
                    </div>
                </div>
                <div class="form-group row sigup-checkbox">
                    <div class="col-12 col-sm-12">
                        <md-checkbox color="primary" class="sigup-checkbox-margin" [formControl]="agreement"></md-checkbox>
                        <span class="terms">I agree to
                            <a class="terms-conditions" href="{{termsLink}}" target="_blank">Terms and Conditions.</a>
                        </span>
                    </div>
                </div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button [disabled]="!agreement.value" color="primary" type="submit" class="btn btn-warning btn-block btn-login">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="form-action-link form-action-signup">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 text-center signup">
                            <span>
                                Already have an account?
                            </span>
                            <a routerLink="/login">
                                SIGN IN
                            </a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>