<!-- <div class="auth-main">
    <div class="auth-block">
        <h1>Sign up to ng2-admin</h1>
        <a routerLink="/login" class="auth-link">Already have an Cl Admin account? Sign in!</a>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                <label for="inputName3" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input [formControl]="name" type="text" class="form-control" id="inputName3" placeholder="Full Name">
                </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                <label for="inputPassword4" class="col-sm-2 control-label">Repeat</label>

                <div class="col-sm-10">
                    <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repeat">
                    <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Passwords don't match.</span>
                </div>
            </div>


            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign up</button>
                </div>
            </div>
        </form>

    </div>
</div> -->


<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <img class="app-logo-image" src="assets/img/logo.png">
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounceInUp">
            <div class="top-label">
                <h1>
                    <strong>Haven't signed up yet?</strong>
                </h1>
                <h4>
                    Sign up to continue
                </h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, $event)" class="form-horizontal">
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginFacebook()" class="btn btn-warning btn-block btn-facebook">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="facebook"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH FACEBOOK
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginTwitter()" class="btn btn-warning btn-block btn-twitter">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="twitter"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH TWITTER
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 col-sm-3 phone-number-cc">
                        <input type="text" [formControl]="countryCode" (focus)="initializeCountryCodes()" class="form-control" id="inputCode" placeholder="+1"
                            [mdAutocomplete]="auto" maxlength="5" (keypress)="_keyPressCountryCode($event)">
                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option *ngFor="let country of countries | async" [value]="'+' + country.phone_code">
                                {{ '+' + country.phone_code }}
                                <span style="color: rgba(0, 0, 0, 0.3)">
                                    {{ country.country_code }}
                                </span>
                            </md-option>
                        </md-autocomplete>
                        <span class="separator-cc-container">
                            <span class="separator-cc"></span>
                        </span>
                    </div>
                    <div class="col-9 col-sm-9 phone-number-phone">
                        <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number" (keypress)="_keyPressNumber($event)">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input [formControl]="email" type="email" [ngClass]="{'has-input-error': (!email.valid && email.touched)}" class="form-control"
                            id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input type="password" [ngClass]="{'has-input-error': (!password.valid && password.touched)}" class="form-control" id="password"
                            placeholder="Password" [formControl]="password">
                    </div>
                </div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="form-action-link form-action-signup">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 text-center signup">
                            <span>
                                Already have an account?
                            </span>
                            <a routerLink="/login">
                                SIGN IN
                            </a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>