@import "../../../../theme/sass/conf/conf";
.mat-input-invalid .mat-input-placeholder {
  color: $warning;
}
.mat-input-error {
  color: $warning;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.btnFollow{
  width: 180px;
  height: 40px;
  border-radius: 3px;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border: solid 1px #ced0da;
}
.Rectangle-317-Copy-2{
  margin-left:-40px; 
}
.Employer-Profile {
  padding: 5px 15px 5px 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #025acc; 
}
.Rectangle-317-Copy-2::before{
    content: "";
    height: 5px;
    border-right: 7px solid #025acc;
    border-bottom: 7px solid transparent;
    border-top: 7px solid #025acc;
    border-left: 7px solid transparent;
    position: absolute;
    top: 22px;
    left: -24px;
}
.main-card-header{
  margin:20px; 
}
.main-header-image{
  width: 140px !important;
  height: 140px !important;
  background-color: #ffffff;
}
.main-card-title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #474747;
}
.main-card-title-address{
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #026eff;
}
.main-card-subtitle{
  .text{
    width: 627px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: center;
    color: #b1b1b1;
  }
}
.section-container{
  padding: 0px 50px 0px 50px;
}
.section-heading{
margin: 20px 0px 20px 0px;
}
.group-5{
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.job-title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #474747;
  line-height: 40px;
  margin: 0px 10px 0px 10px;
}
.job-item{
  margin: 10px 0px 10px 0px;
  border-radius: 2.5px;
  border-left: solid 5px #f4ba48;
  padding: 10px;
  .content{
    margin-left: 48px;
    .rate{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: left;
    color: #026eff;
    }
    .location{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: left;
    color: #a7a7a7;
    text-overflow: ellipsis;
    }
  }
}