<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <img class="app-logo-image" src="assets/img/logo.png">
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounce">
            <div class="top-label">
                <h1>
                    <strong>Terms and conditions</strong>
                </h1>
                <h4 class="hidden-xs-down" style="line-height: 30px">
                    Terms and conditions sub heading.
                </h4>
            </div>
        </div>
    </div>
</div>