<div class="widgets all-notifications-page">
    <div class="container animated bounce">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h3 style="text-align: left">Your Notifications</h3>
                <div *ngIf="notifications && notifications.length > 0" class="notification-section">
                    <md-card class="notification-card notification-card-element" *ngFor="let notification of notifications; let i = index" [ngClass]="{'muted' : !notification.isRead}">
                        <md-card-header (click)="read(notification)" class="notification-card-header">
                            <div md-card-avatar class="notification-header-image">
                                <img mat-card-avatar [src]="notification.payload ? notification.payload.profilePicture ? notification.payload.profilePicture.thumb ? notification.payload.profilePicture.thumb : 'assets/img/user.png' : 'assets/img/user.png' : 'assets/img/user.png'">
                            </div>
                            <md-card-title style="font-weight: 500; color: #1b1b1b; text-align: justify">
                                {{ notification.text }}
                            </md-card-title>
                            <md-card-subtitle style="margin-bottom: 0px; font-size: 13px">
                                {{ notification.createdAtFormatted }}
                            </md-card-subtitle>
                        </md-card-header>
                    </md-card>
                </div>
                <div *ngIf="notifications && notifications.length == 0" class="notification-section">
                    <md-card class="notification-card">
                        <md-card-content>
                            No notifications found.
                        </md-card-content>
                    </md-card>
                </div>
                <div *ngIf="!notifications" class="notification-section">
                    <md-card class="notification-card">
                        <md-card-content class="text-center">
                            <i style="color: #1b1b1b" class="fa fa-spinner fa-spin"></i>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div *ngIf="count > 25" class="col-sm-12 rar-align page-select">
                    <span class="first-last-ctrl">
                        <span [ngClass]="{'enabled': pageIndex > 0}" class="page-controls" (click)="pageIndex > 0 && goToFirstPage($event)">
                            <span mdTooltip="{{(pageIndex > 0) ? 'First page' : ''}}">
                                <i [ngClass]="{'enabled': pageIndex > 0}" class="fa fa-fast-backward"></i>
                            </span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                        <span [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="page-controls" (click)="pageIndex * pageSize + pageSize < length && goToLastPage($event)">
                            <span mdTooltip="{{(pageIndex * pageSize + pageSize < length) ? 'Last page' : ''}}">
                                <i [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="fa fa-fast-forward"></i>
                            </span>
                        </span>
                    </span>
                    <md-paginator #notificationsPaginator class="mat-paginator-pg" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageChange($event)">
                    </md-paginator>
                </div>
            </div>
        </div>
    </div>
</div>