<div class="widgets all-notifications-page">
    <div class="container animated bounce">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <h3>Your Notifications</h3>
                <div *ngIf="notifications && notifications.length > 0" class="notification-section">
                    <md-card class="notification-card notification-card-element" *ngFor="let notification of notifications; let i = index" [ngClass]="{'muted' : !notification.isRead}">
                        <md-card-header class="notification-card-header">
                            <md-card-title style="font-weight: 500; color: #1b1b1b">
                                {{ notification.text }}
                            </md-card-title>
                            <md-card-subtitle style="margin-bottom: 0px; font-size: 13px">
                                {{ getDuration(notification.createdAt) ? getDuration(notification.createdAt) + ' ago' : (notification.createdAt | date: 'MMMM dd') + ' at ' + (notification.createdAt | date: 'h:mm a') }}
                            </md-card-subtitle>
                        </md-card-header>
                    </md-card>
                </div>
                <div *ngIf="notifications && notifications.length == 0" class="notification-section">
                    <md-card class="notification-card">
                        <md-card-content>
                            No notifications found.
                        </md-card-content>
                    </md-card>
                </div>
                <div *ngIf="!notifications" class="notification-section">
                    <md-card class="notification-card">
                        <md-card-content class="text-center">
                            <i style="color: #1b1b1b" class="fa fa-spinner fa-spin"></i>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>