<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <a class="app-logo-link" routerLink="/login">
                <img class="app-logo-image" src="assets/img/logo.png">
            </a>
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounceInUp">
            <div class="top-label">
                <h1>
                    <strong>Verification Code</strong>
                </h1>
                <h4 class="hidden-xs-down" style="line-height: 30px">
                    Where you want the verification code
                    <br> to be sent, either SMS or email.
                </h4>
                <h4 class="hidden-sm-up" style="line-height: 30px">
                    Where you want the verification code to be sent, either SMS or email.
                </h4>
            </div>
            <div class="verify-margin"></div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">

                <div class="form-group">
                    <div class="col-12 col-sm-12 verify-radio">
                        <md-radio-group class="verify-radio-button row" [formControl]="signUpType">
                            <div class="col-6 col-sm-6 radio-left">
                                <div class="col-12 col-sm-12 radios">
                                    <md-radio-button class="col-6 col-sm-6" color="primary" value="SMS">via SMS</md-radio-button>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 radio-right">
                                <div class="col-12 col-sm-12 radios">
                                    <md-radio-button class="col-6 col-sm-6" color="primary" value="EMAIL">via email</md-radio-button>
                                </div>
                            </div>
                        </md-radio-group>
                    </div>
                </div>

                <div class="verify-margin-in"></div>
                
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SUBMIT</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>