<div class="container">
    <div class="settings-main col-xs-12 animated bounceInUp" *ngIf="settings">
        <h2 style="margin-bottom: 20px">Settings</h2>
        <md-tab-group class="head-content-padding">
            <md-tab label="Radius">
                <div class="tabs-content col-md-12 col-sm-12 col-xs-12">
                    <md-card class="example-card">
                        <md-card-header>
                            <md-card-title>Service Radius</md-card-title>
                        </md-card-header>
                        <md-card-content>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <md-input-container>
                                        <input [(ngModel)]="radii" [formControl]="serviceRadii" mdInput (keypress)="_keyPressCsvNumber($event)">
                                    </md-input-container>

                                    <button type="button" md-icon-button (click)="submitServiceRadii()">
                                        <i *ngIf="!editRadius" class="fa fa-pencil"></i>
                                        <i *ngIf="editRadius" class="fa fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="Qualifications">
                <div class="tabs-content col-md-12 col-sm-12 col-xs-12">
                    <div #scrollBottomQual>
                        <md-card class="example-card">
                            <md-card-header class="settings-md-header">
                                <md-card-title>
                                    <span>
                                        Qualifications
                                    </span>
                                    <span class="settings-table-button">
                                        <button type="button" md-button class="btn btn-primary" (click)="scrollToBottomQual()">
                                            Add Qualifications
                                        </button>
                                    </span>
                                </md-card-title>
                            </md-card-header>
                            <md-card-content>

                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-list table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Qualification</th>
                                                <th>Specialization</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let qualification of form.controls['qualifications'].controls; let i=index">

                                                <td class="td-align">
                                                    <span *ngIf="qualification.controls['disable'].value">
                                                            {{qualification.controls['qualification'].value}}
                                                        </span>
                                                    <md-input-container *ngIf="!qualification.controls['disable'].value">
                                                        <input #qualificationName mdInput [ngClass]="{'disable-input': qualification.controls['isDeleted'].value}" [formControl]="qualification.controls['qualification']"
                                                            placeholder="Add Qualification...">
                                                    </md-input-container>
                                                </td>
                                                <td class="td-align">
                                                    <span *ngIf="qualification.controls['disable'].value">
                                                            {{qualification.controls['specialization'].value}}
                                                        </span>
                                                    <md-input-container *ngIf="!qualification.controls['disable'].value">
                                                        <input mdInput [ngClass]="{'disable-input': qualification.controls['isDeleted'].value}" [formControl]="qualification.controls['specialization']"
                                                            placeholder="Add Specialization...">
                                                    </md-input-container>
                                                </td>
                                                <td class="td-align">
                                                    <span *ngIf="qualification.controls['disable'].value">
                                                            {{qualification.controls['description'].value}}
                                                        </span>
                                                    <md-input-container *ngIf="!qualification.controls['disable'].value">
                                                        <input mdInput [ngClass]="{'disable-input': qualification.controls['isDeleted'].value}" [formControl]="qualification.controls['description']"
                                                            placeholder="Add Description...">
                                                    </md-input-container>
                                                </td>
                                                <td>
                                                    <span class="td-actions">
                                                            <button type="button" *ngIf="i != form.controls['qualifications'].controls.length - 1 && !qualification.controls['isDeleted'].value"
                                                                md-icon-button (click)="updateQualification(i, qualification.controls['id'], false, qualification.controls['qualification'], qualification.controls['specialization'], qualification.controls['description'], qualification.controls['disable'])">
                                                                <i *ngIf="qualification.controls['disable'].value" class="fa fa-pencil"></i>
                                                                <i *ngIf="!qualification.controls['disable'].value" class="fa fa-save"></i>
                                                            </button>
                                                            <span mdTooltip="Block qualification">
                                                                <button type="button" md-icon-button *ngIf="form.controls['qualifications'].controls.length > 1 && i != form.controls['qualifications'].controls.length - 1 && !qualification.controls['isDeleted'].value && qualification.controls['disable'].value"
                                                                    (click)="updateQualification(i, qualification.controls['id'], true, qualification.controls['qualification'], qualification.controls['specialization'], qualification.controls['description'], false)">
                                                                    <i class="fa fa-unlock"></i>
                                                                </button>
                                                            </span>
                                                            <span mdTooltip="Unblock qualification">
                                                                <button type="button" md-icon-button *ngIf="form.controls['qualifications'].controls.length > 1 && i != form.controls['qualifications'].controls.length - 1 && qualification.controls['isDeleted'].value && qualification.controls['disable'].value"
                                                                    (click)="updateQualification(i, qualification.controls['id'], false, qualification.controls['qualification'], qualification.controls['specialization'], qualification.controls['description'], false)">
                                                                    <i class="fa fa-lock"></i>
                                                                </button>
                                                            </span>
                                                            <!-- <button type="button" *ngIf="i != form.controls['qualifications'].controls.length - 1" md-icon-button>
                                                                <i class="fa fa-pencil"></i>
                                                                <i class="fa fa-save"></i>
                                                            </button> -->
                                                            <button type="button" *ngIf="i == form.controls['qualifications'].controls.length - 1 && !qualification.controls['qualification'].errors?.required"
                                                                md-icon-button (click)="addQualification(qualification.controls['qualification'], qualification.controls['specialization'], qualification.controls['description'])">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Expertise">
                <div class="tabs-content col-md-12 col-sm-12 col-xs-12">
                    <div #scrollBottomExp>
                        <md-card class="example-card">
                            <md-card-header class="settings-md-header">
                                <md-card-title>
                                    <span>
                                        Expertise
                                    </span>
                                    <span class="settings-table-button" style="float: unset; margin: 15px">
                                        <button type="button" md-button class="btn btn-primary" (click)="scrollToBottomExp()">
                                            Add Expertise
                                        </button>
                                    </span>
                                </md-card-title>
                            </md-card-header>
                            <md-card-content>

                                <div class="panel-body">
                                    <table style="display: block !important" class="table table-striped table-bordered table-list table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Expertise</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let expert of form.controls['expertise'].controls; let i=index">
                                                <td class="td-align">
                                                    <span *ngIf="expert.controls['disable'].value">
                                                        {{expert.controls['expertiseName'].value}}
                                                    </span>
                                                    <md-input-container *ngIf="!expert.controls['disable'].value">
                                                        <input #expertiseName mdInput [ngClass]="{'disable-input': expert.controls['isDeleted'].value}" [formControl]="expert.controls['expertiseName']"
                                                            placeholder="Add Expertise...">
                                                    </md-input-container>

                                                </td>
                                                <td>
                                                    <span class="td-actions">
                                                        <button type="button" *ngIf="i != form.controls['expertise'].controls.length - 1 && !expert.controls['isDeleted'].value"
                                                            md-icon-button (click)="updateExpertise(i, expert.controls['id'], expert.controls['expertiseName'], expert.controls['disable'], false)">
                                                            <i *ngIf="expert.controls['disable'].value" class="fa fa-pencil"></i>
                                                            <i *ngIf="!expert.controls['disable'].value" class="fa fa-save"></i>
                                                        </button>
                                                        <span mdTooltip="Block expertise">
                                                            <button type="button" md-icon-button *ngIf="form.controls['expertise'].controls.length > 1 && i != form.controls['expertise'].controls.length - 1 && expert.controls['disable'].value && !expert.controls['isDeleted'].value && expert.controls['disable'].value"
                                                                (click)="removeExpertise(i, expert.controls['id'], expert.controls['expertiseName'])">
                                                                <i class="fa fa-unlock"></i>
                                                            </button>
                                                        </span>
                                                        <span mdTooltip="Unlock expertise">
                                                            <button type="button" md-icon-button *ngIf="form.controls['expertise'].controls.length > 1 && i != form.controls['expertise'].controls.length - 1 && expert.controls['disable'].value && expert.controls['isDeleted'].value && expert.controls['disable'].value"
                                                                (click)="updateExpertise(i, expert.controls['id'], expert.controls['expertiseName'], false, false)">
                                                                    <i class="fa fa-lock"></i>
                                                            </button>
                                                        </span>
                                                        
                                                        <button type="button" *ngIf="i == form.controls['expertise'].controls.length - 1 && !expert.controls['expertiseName'].errors?.required"
                                                            md-icon-button (click)="addExpertise(expert.controls['expertiseName'])">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                       
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-tab>

            <md-tab label="Equipments">
                <div #scrollBottom class="tabs-content col-md-12 col-sm-12 col-xs-12">
                    <md-card class="example-card">
                        <md-card-header class="settings-md-header">
                            <md-card-title>
                                <span>
                                    Equipments To Hire
                                </span>
                                <!-- <button type="button" md-icon-button (click)="toggleAllChildEquipments($event)">
                                    <i *ngIf="!showAllChildEquipments" class="fa fa-plus-square-o"></i>
                                    <i *ngIf="showAllChildEquipments" class="fa fa-minus-square-o"></i>
                                </button> -->
                                <span class="settings-table-button">
                                    <button type="button"  md-button class="btn btn-primary" (click)="scrollToBottom()">
                                        Add Equipment
                                    </button>
                                </span>
                            </md-card-title>
                            <md-card-subtitle>

                            </md-card-subtitle>
                        </md-card-header>
                        <md-card-content>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <table class="table table-striped table-bordered table-list table-responsive settings-table">
                                        <thead>
                                            <tr>
                                                <th>S. No.</th>
                                                <th>Equipment</th>
                                                <th>Image</th>
                                                <th>Description</th>
                                                <th>Subcategory</th>
                                                <th style="min-width: 120px">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let equipment of form.controls['equipments'].controls; let i=index">
                                                <td>
                                                    <span *ngIf="i != form.controls['equipments'].controls.length - 1">
                                                        {{i + 1}}
                                                    </span>
                                                </td>
                                                <td style="text-align: left">
                                                    <!-- <button type="button" *ngIf="i != form.controls['equipments'].controls.length - 1" md-icon-button (click)="toggleChildEquipments($event, i)">
                                                            <i *ngIf="!showChildEquipments[i]" class="fa fa-plus-square-o"></i>
                                                            <i *ngIf="showChildEquipments[i]" class="fa fa-minus-square-o"></i>
                                                        </button>

                                                    <button class="no-button" type="button" *ngIf="i == form.controls['equipments'].controls.length - 1" md-icon-button>
                                                            <i></i>
                                                        </button> -->
                                                    <span *ngIf="equipment.controls['disable'].value">
                                                        {{equipment.controls['machineName'].value}}
                                                    </span>
                                                    <md-input-container *ngIf="!equipment.controls['disable'].value">
                                                        <input #machineName mdInput [ngClass]="{'disable-input': equipment.controls['isDeleted'].value}" [formControl]="equipment.controls['machineName']"
                                                            placeholder="Add equipment...">
                                                    </md-input-container>
                                                </td>
                                                <td style="position: relative">
                                                    <span class="image-upload" *ngIf="imageUploading && !equipment.controls['disable'].value && fileUploadIndex == i">
                                                        <i class="fa fa-spin fa-spinner image-upload-spin"></i>
                                                    </span>
                                                    <span style="display: flex">
                                                        <img (click)="!equipment.controls['disable'].value && bringFilesSelector(i)" [ngStyle]="{'cursor' : (equipment.controls['disable'].value ? 'default' : 'pointer')}" style="width: 50px; height: 50px; border-radius: 50%" [src]="equipment.controls['picture'].value ? equipment.controls['picture'].value : 'assets/img/image-placeholder.png'">
                                                    </span>
                                                    <div [hidden]="true">
                                                        <input #file type="file" (change)="selectImage($event, i)">
                                                    </div>
                                                </td>
                                                <td style="text-align: left">
                                                    <span *ngIf="equipment.controls['disable'].value">
                                                        {{equipment.controls['description'].value}}
                                                    </span>
                                                    <md-input-container *ngIf="!equipment.controls['disable'].value">
                                                        <input mdInput [ngClass]="{'disable-input': equipment.controls['isDeleted'].value}" [formControl]="equipment.controls['description']"
                                                            placeholder="Add description...">
                                                    </md-input-container>
                                                </td>
                                                <td style="text-align: left">

                                                    <div class="child-equipments" *ngFor="let childEquipment of equipment.controls['children'].controls; let j=index">
                                                        <span *ngIf="childEquipment.controls['disable'].value">
                                                            {{childEquipment.controls['machineName'].value}}
                                                        </span>
                                                        <span *ngIf="equipment.controls['disable'].value">
                                                            <md-input-container *ngIf="!childEquipment.controls['disable'].value">
                                                                <input mdInput [ngClass]="{'disable-input': childEquipment.controls['isDeleted'].value}" [formControl]="childEquipment.controls['machineName']"
                                                                    placeholder="Add subcategory...">
                                                            </md-input-container>
                                                        
                                                            <button type="button" *ngIf="j != equipment.controls['children'].controls.length - 1 && !childEquipment.controls['isDeleted'].value"
                                                                md-icon-button (click)="updateChildEquipment(j, childEquipment.controls['id'], childEquipment.controls['machineName'], equipment.controls['id'], childEquipment.controls['disable'], false, i)">
                                                                    <i *ngIf="childEquipment.controls['disable'].value" class="fa fa-pencil"></i>
                                                                    <i *ngIf="!childEquipment.controls['disable'].value" class="fa fa-save"></i>
                                                            </button>
                                                            <span mdTooltip="Block expertise">
                                                                <button type="button" md-icon-button *ngIf="equipment.controls['children'].controls.length > 1 && j != equipment.controls['children'].controls.length - 1 && childEquipment.controls['disable'].value && !childEquipment.controls['isDeleted'].value"
                                                                    (click)="removeChildEquipment(j, childEquipment.controls['id'], childEquipment.controls['machineName'], equipment.controls['id'])">
                                                                        <i class="fa fa-unlock"></i>
                                                                </button>
                                                            </span>
                                                            <span mdTooltip="Unblock expertise">
                                                                <button type="button" md-icon-button *ngIf="equipment.controls['children'].controls.length > 1 && j != equipment.controls['children'].controls.length - 1 && childEquipment.controls['disable'].value && childEquipment.controls['isDeleted'].value"
                                                                    (click)="updateChildEquipment(j, childEquipment.controls['id'], childEquipment.controls['machineName'], equipment.controls['id'], false, false, i)">
                                                                        <i class="fa fa-lock"></i>
                                                                </button>
                                                            </span>
                                                            <button type="button" *ngIf="j == equipment.controls['children'].controls.length - 1 && !childEquipment.controls['machineName'].errors?.required"
                                                                md-icon-button (click)="addChildEquipment(childEquipment.controls['machineName'], equipment.controls['id'])">
                                                                    <i class="fa fa-plus"></i>
                                                            </button>
                                                        </span>

                                                    </div>

                                                </td>
                                                <td>
                                                    <span class="td-actions">
                                                        <button type="button" *ngIf="i != form.controls['equipments'].controls.length - 1 && !equipment.controls['isDeleted'].value"
                                                            md-icon-button (click)="updateEquipment(i, equipment.controls['id'], equipment.controls['machineName'], equipment.controls['disable'], false, equipment.controls['description'], equipment.controls['picture'])">
                                                            <i *ngIf="equipment.controls['disable'].value" class="fa fa-pencil"></i>
                                                            <i *ngIf="!equipment.controls['disable'].value" class="fa fa-save"></i>
                                                        </button>
                                                        <span mdTooltip="Block equipment">
                                                            <button type="button" md-icon-button *ngIf="form.controls['equipments'].controls.length > 1 && i != form.controls['equipments'].controls.length - 1 && equipment.controls['disable'].value && !equipment.controls['isDeleted'].value"
                                                                (click)="removeEquipment(i, equipment.controls['id'], equipment.controls['machineName'])">
                                                                <i class="fa fa-unlock"></i>
                                                            </button>
                                                        </span>
                                                        <span mdTooltip="Unblock equipment">
                                                            <button type="button" md-icon-button *ngIf="form.controls['equipments'].controls.length > 1 && i != form.controls['equipments'].controls.length - 1 && equipment.controls['disable'].value && equipment.controls['isDeleted'].value"
                                                                (click)="updateEquipment(i, equipment.controls['id'], equipment.controls['machineName'], false, false, equipment.controls['description'], equipment.controls['picture'])">
                                                                <i class="fa fa-lock"></i>
                                                            </button>
                                                        </span>
                                                        <button type="button" *ngIf="i == form.controls['equipments'].controls.length - 1 && !equipment.controls['machineName'].errors?.required"
                                                            md-icon-button (click)="addEquipment(equipment.controls['machineName'], equipment.controls['description'], equipment.controls['picture'])">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </md-tab>

        </md-tab-group>
    </div>
</div>