@import "../../../../theme/sass/conf/conf";
.mat-input-invalid .mat-input-placeholder {
    color: $warning;
}
.mat-input-error {
    color: $warning;
}
.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.Rectangle-317-Copy-2{
margin-left:-20px; 
  background-color: #025acc;
}
.Employer-Profile {
    margin: 5px 15px 5px 25px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.main-card-header{
    margin:20px; 
}
.main-header-image{
    width: 140px !important;
  height: 140px !important;
  background-color: #ffffff;
}
.main-card-title{
    font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #474747;
}
.main-card-title-address{
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #026eff;
}
.main-card-subtitle{
    .text{
    width: 627px;
  height: 48px;
font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: center;
  color: #b1b1b1;
  }
}