<div class="container">
    <div class="container col-xs-12 animated bounceInUp">
        <md-card>
            <div class="row">
                <div class="Rectangle-317-Copy-2 ">
                    <p class="Employer-Profile">Employer Profile</p>
                </div>
                
            </div>
        <md-card-header class="main-card-header d-flex justify-content-center">
                
                <div md-card-avatar class="main-header-image">
                    <img mat-card-avatar class="main-header-image" src='assets/img/default-profile.jpg'>
                </div>
            </md-card-header>
            <md-card-title class="main-card-title text-center text-uppercase ">Careerhub</md-card-title>
            <md-card-title class="main-card-title-address text-center text-lowercase">www.careerhub.com</md-card-title>
            <md-card-subtitle class="main-card-subtitle d-flex justify-content-center">
                 <p class="text">Donec facilisis tortor ut augue lacinia, at viverra est semp Donec facilisis tortor ut augue lacinia, at viverra est semp.</p>
            </md-card-subtitle>

        </md-card>

    </div>
</div>