@import "../../../../theme/sass/conf/conf";
.rar-align {
    text-align: right
}
.panel-default {
    .panel-heading {
        margin-bottom: 10px;
    }
}
.user-feed-heading {
    display: inline-flex;
    h2 {
        margin: auto 0px;
        width: auto;
    }
}
.feedback-card-heading {
    width: 100%;
}
.feeds-section {
    margin-top: 10px;
}
.feedback-card {
    margin-bottom: 10px;
}
.feedback-card-header {
    position: relative;
}
.feedback-header-rating {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
}
.md-card-content-feedback-p {
    text-align: left;
    font-weight: 500;
    color: #1b1b1b;
}
.md-card-content-feedback-p-date {
    text-align: left;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}
.feedback-stars .star-icon {
    font-size: unset !important;
}