<!--<div class="container">
            <button class="btn btn-del col-sm-12" (click)="deleteCard()" >Delete this card</button>
            <button class="btn btn-del col-sm-12" (click)="setAsDefault()" >Set As default</button>  
            <button class="btn btn-del col-sm-12" (click)="closeModal()" >Cancel</button>            
 
      <!-- Modal content-->
<div class="modal-content text-center">
  <div class="modal-header">
    <button type="button" class="close" (click)="closeModal()">&times;</button>
    <h4 class="modal-title">What you want to do ?</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
    <div class="col-sm-3">
      <button class="btn btn-del col-sm-12" (click)="deleteCard()">Delete this card</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-del col-sm-12" (click)="setAsDefault()">Set As default</button>
    </div>
    </div>
  </div>
</div>