<!--<div class="container">
            <button class="btn btn-del col-sm-12" (click)="deleteCard()" >Delete this card</button>
            <button class="btn btn-del col-sm-12" (click)="setAsDefault()" >Set As default</button>  
            <button class="btn btn-del col-sm-12" (click)="closeModal()" >Cancel</button>            
 
      <!-- Modal content-->
<div class="modal-content text-center">
  <div class="modal-header">
    <button type="button" class="close" (click)="closeModal()">&times;</button>
    <h4 class="modal-title">&nbsp;&nbsp;What you want to do ?</h4>
  </div>
  <div class="modal-body">
    <button md-raised-button color="primary" (click)="deleteCard()">Delete this card</button>
    <button md-raised-button color="primary" (click)="setAsDefault()">Set As Default</button>
    </div>
</div>