@import '../../../theme/sass/auth';
.btn-login {
    background-color: #026eff !important;
    border-color: #026eff !important;
}
.btn-facebook {
    .mat-button-wrapper {
        display: flex;
        height: 100%
    }
    background-color: #3a5999 !important;
    border-color: #3a5999 !important;
}
.btn-twitter {
    .mat-button-wrapper {
        display: flex;
        height: 100%
    }
    background-color: #55acee !important;
    border-color: #55acee !important;
}
.btn-md-icon {
    display: flex;
    float: left;
    height: -webkit-fill-available;
    md-icon {
        display: block;
        margin: auto;
    }
}
.btn-text-label {
    display: flex;
    margin: auto;
}
.login-auth-block {
    position: relative;
}
.left-container {
    min-height: 130px;
}
.app-logo {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 116px;
    left: 0px;
}
.app-logo-image {
    width: 210px;
    margin: auto;
}
.signup {
    font-size: 16px;
}
.form-action-signup {
    padding-top: 30px;
    padding-bottom: 10px
}
.signup-radio {
    display: flex;
    border-radius: 3px;
    background-color: #ffffff;
    height: 50px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    label {
        margin-bottom: 0px !important;
    }
}
.signup-radio-button {
    margin: auto 0px;
    width: 100%;
    .mat-radio-button {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
        border-color: #026eff !important;
    }
    .mat-radio-button.mat-primary .mat-radio-inner-circle {
        background-color: #026eff !important;
    }
}
.sigup-checkbox {
    padding-top: 10px;
    .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background-color: #026eff !important;
    }
}
.sigup-checkbox-margin {
    label {
        padding-left: 0px;
        padding-right: 10px;
    }
}
.terms {
    font-size: 16px;
    .terms-conditions {
        font-weight: bold;
        color: #026eff !important;
    }
}
.btn-login.mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
    color: rgba(255, 255, 255, 0.87) !important;
}
.app-logo-link {
    margin: auto;
}
@media only screen and (max-width: 480px) {
    .app-logo {
        top: 14px;
    }
    .app-logo-image {
        width: 160px;
        margin: auto;
    }
}