<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <a class="app-logo-link" routerLink="/login"><img class="app-logo-image" src="assets/img/logo.png"></a>
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block">
            <div class="top-label red">
                <h1>
                    <strong>Address details required</strong>
                </h1>
                <h4>
                    Enter your address details to continue
                </h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
               
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputLocationAddress ng2-google-place-autocomplete [options]="{ types: [] }" (setAddress)="getAddress($event)" [ngClass]="{'has-input-error': (!locationAddress.valid && (locationAddress.touched || submitted))}" [formControl]="locationAddress" class="form-control" placeholder="Street Address 1*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputStreetAddress type="text" [ngClass]="{'has-input-error': (!streetAddress.valid && (streetAddress.touched || submitted))}" [formControl]="streetAddress" class="form-control" placeholder="Street Address 2">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputCity type="text" [formControl]="city" [ngClass]="{'has-input-error': (!city.valid && (city.touched || submitted))}" class="form-control"
                            placeholder="City*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputState type="text" [ngClass]="{'has-input-error': (!state.valid && (state.touched || submitted))}" class="form-control" [formControl]="state" placeholder="State / Province*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputZipCode type="text" [ngClass]="{'has-input-error': (!zipCode.valid && (zipCode.touched || submitted))}" class="form-control" [formControl]="zipCode" placeholder="Postal / Zip Code*">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputCountry type="text" [ngClass]="{'has-input-error': (!country.valid && (country.touched || submitted))}" class="form-control" [formControl]="country" placeholder="Country*">
                    </div>
                </div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SAVE ADDRESS & CONTINUE</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>