<div class="container-fluid messagePanel animated bounce">
    <div *ngIf="request" class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-feed-heading">
                <md-card class="requests-card-heading">
                    <md-card-header class="requests-card-header requests-card-heading">
                        <md-card-title style="font-weight: 600; color: #1b1b1b">
                            <h3>{{request.title}}</h3>
                        </md-card-title>
                        <md-card-subtitle style="font-weight: 500; margin-bottom: 0px; font-size: small">{{request.category ? request.category + ': ' + request.subCategory : request.category}}</md-card-subtitle>
                        <div class="requests-header-right">
                            <div style="margin-bottom: 0.5rem; color: #026eff; font-weight: 600">
                                <h4>{{'$' + request.rate + '/' + (request.rateType == 'DAILY' ? 'day' : request.rateType == 'WEEKLY' ?
                                    'week' : request.rateType == 'MONTHLY' ? 'month' : 'hr')}}</h4>
                            </div>
                            <div style="color: #1c9f7f; font-weight: 500; font-size: small">
                                {{request.jobStatus == 'IN_PROGRESS' ? 'IN PROGRESS' : request.jobStatus}}
                            </div>
                        </div>
                    </md-card-header>
                    <md-card-content>

                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div *ngIf="request" class="requests-section">
        <md-card class="requests-card">
            <md-card-content>
                <p class="md-card-content-requests-label">
                    Job Location
                </p>
                <p class="md-card-content-requests-content">
                    {{request.employerAddress ? showAddress(request.employerAddress.addressLine1, request.employerAddress.city, request.employerAddress.zipCode, request.employerAddress.state, request.employerAddress.country) : ''}}
                </p>
                <p class="md-card-content-requests-label">
                    Job Date
                </p>
                <p class="md-card-content-requests-content">
                    {{request.startDate | date : 'dd/MM/yyyy'}} - {{request.endDate | date : 'dd/MM/yyyy'}}
                </p>
                <p class="md-card-content-requests-label">
                    Job Details
                </p>
                <p class="md-card-content-requests-content">
                    {{request.jobDetails}}
                </p>
                <p class="md-card-content-requests-label">
                    No. of Labors Required
                </p>
                <p class="md-card-content-requests-content">
                    {{request.requiredLabourers}}
                </p>
                
            </md-card-content>
        </md-card>
        <md-card-actions *ngIf="request.jobStatus == 'IN_PROGRESS'" style="margin-left: 0px; margin-right: 0px; text-align: center">
            <button class="col-12 col-sm-6 btn-submit" md-raised-button (click)="cancelJob()" color="primary" style="background-color: #026eff">CANCEL</button>
        </md-card-actions>

    </div>

</div>