<div class="container-fluid messagePanel animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-feed-heading">
                <md-card class="posts-card-heading">
                    <md-card-header *ngIf="job" class="posts-card-header posts-card-heading">
                        <md-card-title style="font-weight: 600; color: #1b1b1b">
                            <h3 style="text-align: left">{{job.title}}</h3>
                        </md-card-title>
                        <md-card-subtitle style="font-weight: 500; margin-bottom: 0px; font-size: small">{{job.category ? job.category + ': ' + job.subCategory : job.category}}</md-card-subtitle>
                        <div class="posts-header-right">
                            <div style="margin-bottom: 0.5rem; color: #026eff; font-weight: 600">
                                <h4>{{'$' + job.rate + '/' + (job.rateType == 'DAILY' ? 'day' : job.rateType == 'WEEKLY' ? 'week'
                                    : job.rateType == 'MONTHLY' ? 'month' : 'hr')}}</h4>
                            </div>
                            <div style="color: #1c9f7f; font-weight: 500; font-size: small">
                                {{job.jobStatus == 'IN_PROGRESS' ? 'IN PROGRESS' : job.jobStatus}}
                            </div>
                        </div>
                    </md-card-header>
                    <md-card-content *ngIf="!job">
                        Loading...
                        <i class="fa fa-spinner fa-spin"></i>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="posts-section">
        <md-card *ngIf="job" class="posts-card">
            <md-card-content>
                <p class="md-card-content-posts-label">
                    Job Location
                </p>
                <p class="md-card-content-posts-content">
                    {{job.employerAddress ? showAddress(job.employerAddress.addressLine1, job.employerAddress.city, job.employerAddress.zipCode,
                    job.employerAddress.state, job.employerAddress.country) : ''}}
                </p>
                <p class="md-card-content-posts-label">
                    Job Date
                </p>
                <p class="md-card-content-posts-content">
                    {{job.startDate | date : 'dd/MM/yyyy'}} - {{job.endDate | date : 'dd/MM/yyyy'}}
                </p>
                <p *ngIf="job.jobDetails" class="md-card-content-posts-label">
                    Job Details
                </p>
                <p *ngIf="job.jobDetails" class="md-card-content-posts-content">
                    {{job.jobDetails}}
                </p>
                <p class="md-card-content-posts-label">
                    No. of Labors Required
                </p>
                <p class="md-card-content-posts-content">
                    {{job.requiredLabourers}}
                </p>
            </md-card-content>
        </md-card>

        <md-card-actions *ngIf="job && job.jobStatus != 'COMPLETED'" style="margin-left: 0px; margin-right: 0px; text-align: center">
            <button *ngIf="canApply && canApply == 2" class="col-12 col-sm-6 btn-submit-cancel" md-raised-button color="primary" disabled>CANCELLED BY EMPLOYER</button>
            <button *ngIf="canApply && canApply == 1" class="col-12 col-sm-6 btn-submit" md-raised-button (click)="applyJob()" color="primary"
                style="background-color: #026eff">APPLY</button>
            <button *ngIf="canApply != null && canApply == 0" class="col-12 col-sm-6 btn-submit" md-raised-button (click)="cancelJob()"
                color="primary" style="background-color: #026eff">CANCEL</button>
        </md-card-actions>

    </div>

</div>

<side-panel></side-panel>