<div class="container-fluid animated bounce post-container">
    <div class="add-post-div">
        <span class="add-post-span" mdTooltip="Post Job">
            <button md-mini-fab color="primary" type="button" class="add-post-btn" (click)="addPost()">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
    <md-tab-group class="my-posts-tabs-group" (selectChange)="selectTab($event)">
        <md-tab label="ACTIVE">
            <div class="posts-section page-input-block">
                <md-card class="posts-card">
                    <md-card-content *ngIf="posts">
                        <md-card class="posts-card posts-card-inner" *ngFor="let post of posts; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="posts-card-header">
                                <div md-card-avatar class="posts-header-image">
                                    <img mat-card-avatar [src]="post.categoryId ? post.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{post.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{post.category ? post.category + ': ' + post.subCategory : post.category}}</md-card-subtitle>
                                <div class="posts-header-view">
                                    <div class="view-link" (click)="showPostDetail(post._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="posts-card with-margin">
                                <p class="md-card-content-posts-p-rate">
                                    {{'$' + post.rate + '/' + (post.rateType == 'DAILY' ? 'day' : post.rateType == 'WEEKLY' ? 'week' : post.rateType == 'MONTHLY'
                                    ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-posts-p-address">
                                    {{ post.employerAddress ? showAddress(post.employerAddress.addressLine1, post.employerAddress.city, post.employerAddress.zipCode, post.employerAddress.state, post.employerAddress.country) : '' }}
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="posts && posts.length == 0">
                            No posts found.
                        </div>
                    </md-card-content>
                </md-card>
            </div>

        </md-tab>
        <md-tab label="IN PROGRESS">
            <div class="posts-section page-input-block">
                <md-card class="posts-card">
                    <md-card-content *ngIf="posts">
                        <md-card class="posts-card posts-card-inner" *ngFor="let post of posts; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="posts-card-header">
                                <div md-card-avatar class="posts-header-image">
                                    <img mat-card-avatar [src]="post.categoryId ? post.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{post.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{post.category ? post.category + ': ' + post.subCategory : post.category}}</md-card-subtitle>
                                <div class="posts-header-view">
                                    <div class="view-link" (click)="showPostDetail(post._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="posts-card with-margin">
                                <p class="md-card-content-posts-p-rate">
                                    {{'$' + post.rate + '/' + (post.rateType == 'DAILY' ? 'day' : post.rateType == 'WEEKLY' ? 'week' : post.rateType == 'MONTHLY'
                                    ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-posts-p-address">
                                    {{ post.employerAddress ? showAddress(post.employerAddress.addressLine1, post.employerAddress.city, post.employerAddress.zipCode, post.employerAddress.state, post.employerAddress.country) : '' }}
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="posts && posts.length == 0">
                            No posts found.
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="COMPLETED">
            <div class="posts-section page-input-block">
                <md-card class="posts-card">
                    <md-card-content *ngIf="posts">
                        <md-card class="posts-card posts-card-inner" *ngFor="let post of posts; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="posts-card-header">
                                <div md-card-avatar class="posts-header-image">
                                    <img mat-card-avatar [src]="post.categoryId ? post.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{post.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{post.category ? post.category + ': ' + post.subCategory : post.category}}</md-card-subtitle>
                                <div class="posts-header-view">
                                    <div class="view-link" (click)="showPostDetail(post._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="posts-card with-margin">
                                <p class="md-card-content-posts-p-rate">
                                    {{'$' + post.rate + '/' + (post.rateType == 'DAILY' ? 'day' : post.rateType == 'WEEKLY' ? 'week' : post.rateType == 'MONTHLY'
                                    ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-posts-p-address">
                                    {{ post.employerAddress ? showAddress(post.employerAddress.addressLine1, post.employerAddress.city, post.employerAddress.zipCode, post.employerAddress.state, post.employerAddress.country) : '' }}
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="posts && posts.length == 0">
                            No posts found.
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
    </md-tab-group>
    <!-- <div class="panel-footer">
        <div class="row">
            <div *ngIf="count > 4" class="col-sm-12 rar-align page-select">
                <span class="first-last-ctrl">
                    <span [ngClass]="{'enabled': pageIndex > 0}" class="page-controls" (click)="pageIndex > 0 && goToFirstPage($event)">
                        <span mdTooltip="{{(pageIndex > 0) ? 'First page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex > 0}" class="fa fa-fast-backward"></i>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="page-controls" (click)="pageIndex * pageSize + pageSize < length && goToLastPage($event)">
                        <span mdTooltip="{{(pageIndex * pageSize + pageSize < length) ? 'Last page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="fa fa-fast-forward"></i>
                        </span>
                    </span>
                </span>
                <md-paginator #postsPaginator class="mat-paginator-pg" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChange($event)">
                </md-paginator>
            </div>
        </div>
    </div> -->
</div>