@import "../../../../theme/sass/conf/conf";
.support-section {
    margin-top: 10px;
}
.support-card {
    margin-bottom: 10px;
}
.inner-content{
}

.text-content{
    margin-top:35px;
    .head{
    font-family: "Roboto", sans-serif;;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    color: #1b1b1b;
}
.content{
    font-family: "Roboto", sans-serif;;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    color: #b1b1b1;
    margin-top: 4px;
}
}
.jobs-card-heading {
    width: 100%;
}
div .support-image{
    padding:0 10px 0 10px;
}
.line-dash{
    border:2px dashed lightgrey;
    width:1px;
    height:100%;
    margin-left:95px;
}
@media only screen and (max-width: 768px) { 
    .inner-content{
        text-align: center;
    }
    .support-image{
        margin: 0 auto;        
    }
    .text-content{
        .head{
            text-align: center;
        }
        .content{
            text-align: center;
        }
    }
    .buy-btn{
        margin: 0 auto;        
    }

}

