<div class="container-fluid animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-jobs-heading">
                <md-card class="jobs-card-heading">
                    <md-card-header class="jobs-card-heading jobs-card-header">
                        <md-card-title style="font-weight: 600; color: #474747; margin-bottom: 0px">
                            <h2>Support</h2>
                        </md-card-title>
                    </md-card-header>
                </md-card>
            </div>
        </div>
    </div>
    <div class="support-section">
        <md-card class="support-card">
            <md-card-content>
                <div class="row inner-content col-sm-12">
                    <div class="support-image col-sm-12 col-md-3">
                        <img src="assets/img/contact.png">
                    </div>
                    <div class="text-content col-sm-12 col-md-9">
                        <div class="head">
                            CONTACT US
                        </div>
                        <div class="content">
                            Donec facilisis tortor ut augue
                        </div>
                    </div>
                </div>
                <div class="row" style="height:60px">
                    <div style="border:2px dashed lightgrey; width:1px;height:100%;margin-left:98px;"></div>
                </div>
                <div class="row inner-content col-sm-12">
                    <div class="support-image col-sm-12 col-md-3">
                        <img src="assets/img/terms.png">
                    </div>
                    <div class="text-content col-sm-12 col-md-9">
                        <div class="head">
                            TERMS & CONDITIONS
                        </div>
                        <div class="content">
                            Donec facilisis tortor ut augue
                        </div>
                    </div>
                </div>
                <div class="row" style="height:60px">
                    <div style="border:2px dashed lightgrey; width:1px;height:100%;margin-left:98px;"></div>
                </div>
                <div class="row inner-content col-sm-12">
                    <div class="support-image col-sm-12 col-md-3">
                        <img src="assets/img/privacy.png">
                    </div>
                    <div class="text-content col-sm-12 col-md-9">
                        <div class="head">
                            PRIVACY POLICY
                       </div>
                        <div class="content">
                            Donec facilisis tortor ut augue
                        </div>
                    </div>
                </div>
               
            </md-card-content>
        </md-card>
    </div>
</div>