<div class="container-fluid animated bounce request-container">
    <md-tab-group class="my-requests-tabs-group" (selectChange)="selectTab($event)">
        <md-tab label="PENDING">
            <div class="requests-section page-input-block">
                <md-card class="requests-card">
                    <md-card-content *ngIf="requests">
                        <md-card class="requests-card requests-card-inner" *ngFor="let request of requests; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="requests-card-header">
                                <div md-card-avatar class="requests-header-image">
                                    <img mat-card-avatar [src]="request?.jobId?.categoryId ? request?.jobId?.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{request?.jobId?.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{request?.jobId?.category ? request?.jobId?.category + ': ' + request?.jobId.subCategory
                                    : request?.jobId.category}}</md-card-subtitle>
                                <div class="requests-header-view">
                                    <div class="view-link" (click)="showRequestDetail(request?.jobId?._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="requests-card with-margin">
                                <p class="md-card-content-requests-p-rate">
                                    {{'$' + request?.jobId?.rate + '/' + (request?.jobId?.rateType == 'DAILY' ? 'day' : request?.jobId?.rateType == 'WEEKLY'
                                    ? 'week' : request?.jobId?.rateType == 'MONTHLY' ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-requests-p-address">
                                    {{ request?.employerId?.locationDetails ? showAddress(request?.employerId?.locationDetails?.addressLine1, request?.employerId?.locationDetails?.city,
                                    request?.employerId?.locationDetails?.zipCode, request?.employerId?.locationDetails?.state,
                                    request?.employerId?.locationDetails?.country) : '' }}
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="requests && requests.length == 0">
                            No requests found.
                        </div>
                    </md-card-content>
                    <md-card-content *ngIf="!requests">
                        Loading... <i class="fa fa-spinner fa-spin"></i>
                    </md-card-content>
                </md-card>
            </div>

        </md-tab>
        <md-tab label="CONFIRMED">
            <div class="requests-section page-input-block">
                <md-card class="requests-card">
                    <md-card-content *ngIf="requests">
                        <md-card class="requests-card requests-card-inner" *ngFor="let request of requests; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="requests-card-header">
                                <div md-card-avatar class="requests-header-image">
                                    <img mat-card-avatar [src]="request?.jobId?.categoryId ? request?.jobId?.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{request?.jobId?.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{request?.jobId?.category ? request?.jobId?.category + ': ' + request?.jobId.subCategory
                                    : request?.jobId.category}}</md-card-subtitle>
                                <div class="requests-header-view">
                                    <div class="view-link" (click)="showRequestDetail(request?.jobId?._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="requests-card with-margin">
                                <p class="md-card-content-requests-p-rate">
                                    {{'$' + request?.jobId?.rate + '/' + (request?.jobId?.rateType == 'DAILY' ? 'day' : request?.jobId?.rateType == 'WEEKLY'
                                    ? 'week' : request?.jobId?.rateType == 'MONTHLY' ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-requests-p-address">
                                    {{ request?.employerId?.locationDetails ? showAddress(request?.employerId?.locationDetails?.addressLine1, request?.employerId?.locationDetails?.city,
                                    request?.employerId?.locationDetails?.zipCode, request?.employerId?.locationDetails?.state,
                                    request?.employerId?.locationDetails?.country) : '' }}
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="requests && requests.length == 0">
                            No requests found.
                        </div>
                    </md-card-content>
                    <md-card-content *ngIf="!requests">
                        Loading... <i class="fa fa-spinner fa-spin"></i>
                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="COMPLETED">
            <div class="requests-section page-input-block">
                <md-card class="requests-card">
                    <md-card-content *ngIf="requests">
                        <md-card class="requests-card requests-card-inner" *ngFor="let request of requests; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                            <md-card-header class="requests-card-header">
                                <div md-card-avatar class="requests-header-image">
                                    <img mat-card-avatar [src]="request?.jobId?.categoryId ? request?.jobId?.categoryId.image.thumb : 'assets/img/image-placeholder.jpg'">
                                </div>
                                <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{request?.jobId?.title}}</md-card-title>
                                <md-card-subtitle style="font-weight: 500">{{request?.jobId?.category ? request?.jobId?.category + ': ' + request?.jobId.subCategory
                                    : request?.jobId.category}}</md-card-subtitle>
                                <div class="requests-header-view">
                                    <div class="view-link" (click)="showRequestDetail(request?.jobId?._id)">
                                        <span class="hidden-xs-down">
                                            View Details &gt;&gt;
                                        </span>
                                        <span class="hidden-sm-up">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content class="requests-card with-margin">
                                <p class="md-card-content-requests-p-rate">
                                    {{'$' + request?.jobId?.rate + '/' + (request?.jobId?.rateType == 'DAILY' ? 'day' : request?.jobId?.rateType == 'WEEKLY'
                                    ? 'week' : request?.jobId?.rateType == 'MONTHLY' ? 'month' : 'hr')}}
                                </p>
                                <p class="md-card-content-requests-p-address">
                                    {{ request?.employerId?.locationDetails ? showAddress(request?.employerId?.locationDetails?.addressLine1, request?.employerId?.locationDetails?.city,
                                    request?.employerId?.locationDetails?.zipCode, request?.employerId?.locationDetails?.state,
                                    request?.employerId?.locationDetails?.country) : '' }}
                                </p>
                                <p *ngIf="request.employerRating && !request.employerRating.isRated" (click)="openFeedbackDialog(request)" style="cursor: pointer"
                                    class="md-card-content-requests-p-rate text-center">
                                    Do you want to rate?
                                </p>
                                <p *ngIf="request.employerRating && request.employerRating.isRated" class="md-card-content-requests-p-rate text-center">
                                    <rating class="feed-show-stars" [(ngModel)]="request.employerRating.rating" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="true" [disabled]="false"
                                        [required]="false" [float]="true" [titles]="['1', '2', '3', '4', '5']">
                                    </rating>
                                </p>
                            </md-card-content>
                        </md-card>
                        <div *ngIf="requests && requests.length == 0">
                            No requests found.
                        </div>
                    </md-card-content>
                    <md-card-content *ngIf="!requests">
                        Loading... <i class="fa fa-spinner fa-spin"></i>
                    </md-card-content>
                </md-card>
            </div>
        </md-tab>
    </md-tab-group>
    <!-- <div class="panel-footer">
        <div class="row">
            <div *ngIf="count > 4" class="col-sm-12 rar-align page-select">
                <span class="first-last-ctrl">
                    <span [ngClass]="{'enabled': pageIndex > 0}" class="page-controls" (click)="pageIndex > 0 && goToFirstPage($event)">
                        <span mdTooltip="{{(pageIndex > 0) ? 'First page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex > 0}" class="fa fa-fast-backward"></i>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="page-controls" (click)="pageIndex * pageSize + pageSize < length && goToLastPage($event)">
                        <span mdTooltip="{{(pageIndex * pageSize + pageSize < length) ? 'Last page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="fa fa-fast-forward"></i>
                        </span>
                    </span>
                </span>
                <md-paginator #requestsPaginator class="mat-paginator-pg" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChange($event)">
                </md-paginator>
            </div>
        </div>
    </div> -->
</div>