@import "../../../../theme/sass/conf/conf";
.jobs-card-heading {
    width: 100%;
}
.support-section {
    margin-top: 10px;
}
.support-card {
    margin-bottom: 10px;
}
.donation-head{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #1b1b1b;
    margin-top:20px;
    h1{
        font-size:40px;
    }
}
h3{
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #1b1b1b;
}
.image{
    margin-top:35px;
}
.price-btns{
    margin-top:30px;
}    
   
.side-margin{    
    margin-left: 10%;
    margin-right: 10%;
}

.price{
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 2px #026eff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    text-align: center;
    color: #000000;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top:20px;
}
.or-text{
    margin-top:30px;
    margin-bottom:30px;
    div{
    font-size: 16px;
    font-weight: 300;
    color: #999999;
    height: 22px;
}}

.donation-input{
    text-decoration: none;
    box-shadow: none !important;
    border:2px solid lightgrey;
    padding:22px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}
.input-div{
    
    padding:0 calc(10% + 15px) 0 calc(10% + 15px);
    input::placeholder {
        color:lightgrey;
        font-weight: 600;
      }
}
.save-card-btn{
    background:#026eff;
    border-radius:3px;
    height: 60px;
    box-shadow: none;
    border: none;
    color:white;
    font-weight: 900;
    margin-top: 47px;
  }
  .active{
      color:white;
      background: #026eff;
  }
  .left-notification-bar {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 180px;
    .notification {
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 15px;
        .notification-banner {
            width: 100%;
            padding: 15px;
            background-color: #026eff;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            color: white;
        }
        .left-notification-card.mat-card {
            padding: 15px;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            
        }
        .left-notification-subtitle.mat-card-subtitle {
            font-size: smaller;
        }
    }
    .left-notification-head.mat-card-header {
        .mat-card-header-text {
            margin-right: 0px !important;
        }
    }
}
.donateAmount{
    color: #026eff;
    font-weight: 900;
}
.donateDate{
    float: right;
    font-size: 11px;
    color: #999999;

}
