<div class="container-fluid animated bounce friend-container">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-friends-heading">
                <md-card class="friends-card-heading">
                    <md-card-header class="friends-card-header friends-card-heading no-margin">
                        <md-card-title style="font-weight: 600; color: #474747; margin-bottom: 0px">
                            <h2>My Friend List</h2>
                        </md-card-title>
                        <div class="friends-header-rating">
                            <div class="filter-div">
                                <button (click)="openSendInvite()" md-raised-button color="primary" style="background-color: #026eff">SEND INVITE</button>
                                <!-- <i class="fa fa-filter"></i> -->
                            </div>
                        </div>
                    </md-card-header>
                </md-card>
            </div>
        </div>
    </div>

    <div class="friends-section page-input-block">
        <md-card class="friends-card">
            <md-card-content *ngIf="friends">
                <md-card class="friends-card friends-card-inner" *ngFor="let friend of friends; let i = index" [ngClass]="{'color-second' : (i + 2) % 2 == 0, 'color-third' : (i + 3) % 3 == 0}">
                    <md-card-header class="friends-card-header">
                        <div md-card-avatar class="friends-header-image">
                            <img mat-card-avatar [src]="friend?.profilePicture?.thumb ? friend?.profilePicture?.thumb : 'assets/img/user.png'">
                        </div>
                        <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">{{friend.fullName ? friend.fullName : friend.lastName ? (friend.firstName + ' ' + friend.lastName)
                            : friend.firstName}}</md-card-title>
                        <md-card-subtitle style="font-weight: 500">
                            <span style="font-weight: 500; color: #026eff; cursor: pointer; font-size: small" (click)="openProfile(friend._id, friend.userType)">View Profile</span>
                        </md-card-subtitle>
                        <div class="friends-header-view">
                            <div>
                                <i *ngIf="!friend?.labourId?.isPhoneNumberHidden && !friend.showPhone" (click)="showPhoneInfo(i)" class="fa fa-phone-square"></i>
                                <i *ngIf="!friend.showEmail" (click)="showEmailInfo(i)" class="fa fa-envelope"></i>
                            </div>
                            <div *ngIf="friend.showPhone">{{friend?.countryCode + ' ' + friend?.phoneNumber}}</div>
                            <div *ngIf="friend.showEmail">{{friend?.email}}</div>
                        </div>
                    </md-card-header>
                    <md-card-header *ngIf="friend.labourAddress || friend.employerAddress" style="margin-top: 5px" class="friends-card-header">
                        <!-- <div md-card-avatar class="friends-header-image">
                            <img mat-card-avatar [src]="friend?.categoryId?.image?.thumb ? friend?.categoryId?.image?.thumb : 'assets/img/image-placeholder.jpg'">
                        </div>
                        <md-card-title style="font-weight: 600; color: #1b1b1b; font-size: medium">
                            {{ friend?.category ? friend?.category + ': ' + friend?.subCategory : friend?.category }}
                        </md-card-title> -->
                        <md-card-subtitle style="font-weight: 500">
                            <span *ngIf="friend.labourAddress">
                                {{ showAddress(friend?.labourAddress?.addressLine1, friend?.labourAddress?.city, friend?.labourAddress?.zipCode, friend?.labourAddress?.state,
                                friend?.labourAddress?.country) }}
                            </span>
                            <span *ngIf="friend.employerAddress">
                                {{ showAddress(friend?.employerAddress?.addressLine1, friend?.employerAddress?.city, friend?.employerAddress?.zipCode, friend?.employerAddress?.state,
                                friend?.employerAddress?.country) }}
                            </span>
                        </md-card-subtitle>
                    </md-card-header>
                </md-card>
                <div *ngIf="friends && friends.length == 0">
                    No friends found.
                </div>
            </md-card-content>
            <md-card-content *ngIf="!friends">
                Loading...
                <i class="fa fa-spinner fa-spin"></i>
            </md-card-content>
        </md-card>
        <!-- <md-card *ngIf="showLoading" class="friends-card">
            {{ locationStatus + ' ' }}
            <i *ngIf="locationStatus == 'Fetching current location...'" class="fa fa-spinner fa-spin"></i>
        </md-card> -->
    </div>

    <!-- <div class="panel-footer">
        <div class="row">
            <div *ngIf="count > 4" class="col-sm-12 rar-align page-select">
                <span class="first-last-ctrl">
                    <span [ngClass]="{'enabled': pageIndex > 0}" class="page-controls" (click)="pageIndex > 0 && goToFirstPage($event)">
                        <span mdTooltip="{{(pageIndex > 0) ? 'First page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex > 0}" class="fa fa-fast-backward"></i>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="page-controls" (click)="pageIndex * pageSize + pageSize < length && goToLastPage($event)">
                        <span mdTooltip="{{(pageIndex * pageSize + pageSize < length) ? 'Last page' : ''}}">
                            <i [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="fa fa-fast-forward"></i>
                        </span>
                    </span>
                </span>
                <md-paginator #friendListPaginator class="mat-paginator-pg" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChange($event)">
                </md-paginator>
            </div>
        </div>
    </div> -->
</div>
<side-panel></side-panel>