<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <!-- <a class="app-logo-link" routerLink="/login">
                <img class="app-logo-image" src="assets/img/logo.png">
            </a> -->
            <img class="app-logo-image" src="assets/img/logo.png">
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounce">
            <div class="top-label">
                <h1>
                    <strong>Hi! Welcome back.</strong>
                </h1>
                <h4>
                    Sign in to continue
                </h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginFacebook()" class="btn btn-warning btn-block btn-facebook">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="facebook"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH FACEBOOK
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="button" (click)="loginTwitter()" class="btn btn-warning btn-block btn-twitter">
                                <span class="btn-md-icon">
                                    <md-icon svgIcon="twitter"></md-icon>
                                </span>
                                <span class="btn-text-label">
                                    CONTINUE WITH TWITTER
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3 col-sm-3 phone-number-cc">
                        <img class="flag-placeholder" src="{{ 'assets/img/flags/iso/' + getCountryFlag(countryCode.value)?.toString()?.toLowerCase() + '.png' }}">
                        <input #inputCountryCode type="text" [formControl]="countryCode" [ngClass]="{'has-input-error': (!countryCode.valid && (countryCode.touched || submitted))}"
                            (focus)="countryCodeClick()" class="form-control" placeholder="+1" [mdAutocomplete]="auto" maxlength="5"
                            (keypress)="_keyPressCountryCode($event)">
                        <md-autocomplete #auto="mdAutocomplete">
                            <md-option *ngFor="let country of countries | async" (onSelectionChange)="setCountry('+' + country.phone_code, country.country_code, $event)" [value]="'+' + country.phone_code">
                                <img class="flag-options" src="{{ 'assets/img/flags/iso/' + country.country_code?.toString()?.toLowerCase() + '.png' }}"> {{ ' +' + country.phone_code }}
                                <span style="color: rgba(0, 0, 0, 0.3)">
                                    {{ country.country_code }}
                                </span>
                            </md-option>
                        </md-autocomplete>
                        <span class="separator-cc-container">
                            <span class="separator-cc"></span>
                        </span>
                    </div>
                    <div class="col-9 col-sm-9 phone-number-phone">
                        <input #inputPhone type="text" [ngClass]="{'has-input-error': (!phone.valid && (phone.touched || submitted))}" class="form-control"
                            [formControl]="phone" placeholder="Phone Number" maxlength="15" (keypress)="_keyPressNumber($event)">
                    </div>
                </div>
                <div class="or-sep">
                    <div class="row or">
                        <div class="col-5 col-sm-5 or-line"></div>
                        <div class="col-2 col-sm-2 or-text">
                            <span class="or-or">
                                <span class="or-or-text">
                                    or
                                </span>
                            </span>
                        </div>
                        <div class="col-5 col-sm-5 or-line"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputEmail [formControl]="email" type="email" [ngClass]="{'has-input-error': (!email.valid && (email.touched || submitted))}"
                            class="form-control" (keypress)="_keyPressEmail($event)" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <input #inputPassword type="password" [ngClass]="{'has-input-error': (!password.valid && (password.touched || submitted))}"
                            class="form-control" placeholder="Password*" [formControl]="password">
                    </div>
                </div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SIGN IN</button>
                        </div>
                    </div>
                </div>
                <div class="form-action-link">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 text-center forget">
                            <a style="cursor: pointer" (click)="openForgotPasswordDialog()">
                                FORGOT PASSWORD?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-action-link form-action-signup">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12 text-center signup">
                            <span>
                                Haven't signed up yet?
                            </span>
                            <a routerLink="/register">
                                SIGN UP
                            </a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>