<div class="container">
    <div *ngIf="workers" class="animated bounceInUp">
        <div class="col-lg-6 custom-col">
            <h4>Select type of worker</h4>
            <div class="multi-select-cls">
                <ss-multiselect-dropdown [texts]="{defaultTitle: 'All'}" [options]="myOptions" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>
        </div>

        <br>
        <div #scrollBottom class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">

                    <div class="col-8 col-sm-8 user-heading">
                        <h3>All Workers</h3>
                        <span class="user-table-button-a">
                            <button type="button" md-button style="margin: auto" class="btn btn-sm btn-primary btn-create" (click)="createWorkerOpen()">Create Worker</button>
                        </span>
                    </div>
                    <div class="col-4 col-sm-4 text-right">
                        <md-input-container>
                            <input mdInput #inputstring (keyup)="SearchWorker(inputstring.value)" placeholder="Search..." />
                            <md-icon mdSuffix>
                                <i class="fa fa-search"></i>
                            </md-icon>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table *ngIf="workers && workers.length > 0" mdSort (mdSortChange)="sortData($event)" class="table table-striped table-bordered table-list table-responsive">
                    <thead>
                        <tr>
                            <th md-sort-header="id" class="hidden-xs">Worker ID</th>
                            <th md-sort-header="name">Name</th>
                            <th md-sort-header="email">Email</th>
                            <th>Phone Number</th>
                            <th>Approval Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of workers | paginate: { itemsPerPage: limit, currentPage: page, totalItems: count };  let i = index">
                            <td>{{ data.userCode }}</td>
                            <td class="td-left-align">{{ data.name }}</td>
                            <td class="td-left-align">{{ data.email }}</td>
                            <td class="td-left-align">
                                <span *ngIf="data.contacts && data.contacts.length > 0">
                                    {{ data.contacts[0].countryCode ? data.contacts[0].countryCode + ' ' : '' }} {{ data.contacts[0].mobile }}
                                </span>
                            </td>
                            <td>
                                <div class="verticle-middle-align">
                                    <i class="fa" [ngClass]="{'fa-check' : data.isAdminVerified == true, 'fa-hourglass-start fa-spin' : data.isAdminVerified == false}"></i>
                                </div>
                            </td>
                            <td align="right">
                                <span mdTooltip="Block worker">
                                    <button md-icon-button *ngIf="data.isBlocked == false" (click)="blockWorkerConfirm(data)">
                                        <i class="fa fa-unlock"></i>
                                    </button>
                                </span>
                                <span mdTooltip="Unblock worker">
                                    <button md-icon-button *ngIf="data.isBlocked == true" (click)="blockWorkerConfirm(data)">
                                        <i class="fa fa-lock"></i>
                                    </button>
                                </span>
                                <button md-icon-button (click)="showWorkerDetail(data)">
                                    <i class="fa fa-indent"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="workers && workers.length == 0" class="panel-body text-center">
                No Records Found.
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div *ngIf="count > 4" class="col-sm-12 rar-align page-select">
                        <span class="first-last-ctrl">
                            <span [ngClass]="{'enabled': pageIndex > 0}" class="page-controls" (click)="pageIndex > 0 && goToFirstPage($event)">
                                <span mdTooltip="{{(pageIndex > 0) ? 'First page' : ''}}">
                                    <i [ngClass]="{'enabled': pageIndex > 0}" class="fa fa-fast-backward"></i>
                                </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <span [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="page-controls" (click)="pageIndex * pageSize + pageSize < length && goToLastPage($event)">
                                <span mdTooltip="{{(pageIndex * pageSize + pageSize < length) ? 'Last page' : ''}}">
                                    <i [ngClass]="{'enabled': pageIndex * pageSize + pageSize < length}" class="fa fa-fast-forward"></i>
                                </span>
                            </span>
                        </span>
                        <md-paginator #workersPaginator class="mat-paginator-pg" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="pageChange($event)">
                        </md-paginator>
                    </div>
                </div>
            </div>
            <div [hidden]="!openFormWorker" class="col-md-12 col-sm-12 col-xs-12 create-form">
                <form [formGroup]="form" (ngSubmit)="createWorker(form.value)">
                    <md-card class="example-card">
                        <md-card-header>
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-12 user-heading">
                                        <h4 style="margin: auto">Create Worker</h4>
                                    </div>
                                </div>
                            </div>
                        </md-card-header>
                        <md-card-content>
                            <div class="tabs-content-create-form create-form col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <md-input-container class="col-sm-12">
                                        <span mdPrefix>
                                            <i class="fa fa-user"></i> &nbsp;</span>
                                        <input mdInput type="text" [formControl]="workerName" #inputName placeholder="Name">
                                    </md-input-container>
                                </div>
                                <div class="row">
                                    <md-input-container class="col-sm-12">
                                        <span mdPrefix>
                                            <i class="fa fa-envelope"></i> &nbsp;</span>
                                        <input mdInput type="text" [formControl]="email" #inputEmail placeholder="Email">
                                    </md-input-container>

                                </div>
                                <div class="row">
                                    <md-input-container md-no-float class="col-sm-4">
                                        <span mdPrefix>
                                            <i class="fa fa-flag"></i> &nbsp;</span>
                                        <input type="text" placeholder="Country Code" mdInput [formControl]="countryCode" [mdAutocomplete]="auto" maxlength="5" (keypress)="_keyPressCountryCode($event)">
                                        <md-autocomplete #auto="mdAutocomplete">
                                            <md-option *ngFor="let country of countries | async" [value]="'+' + country.phone_code">
                                                {{ '+' + country.phone_code }}
                                                <span style="color: rgba(0, 0, 0, 0.3)">
                                                    {{ country.country_code }}
                                                </span>
                                            </md-option>
                                        </md-autocomplete>
                                    </md-input-container>
                                    <!-- <md-input-container class="col-sm-4">
                                        <span mdPrefix><i class="fa fa-flag"></i> &nbsp;</span>
                                        <input mdInput type="text" [formControl]="countryCode" #inputCountryCode placeholder="Country Code" maxlength="4" (keypress)="_keyPressCountryCode($event)">
                                    </md-input-container> -->
                                    <md-input-container class="col-sm-8">
                                        <span mdPrefix>
                                            <i class="fa fa-phone"></i> &nbsp;</span>
                                        <input mdInput type="text" [formControl]="phoneNumber" #inputMobile placeholder="Phone Number" (keypress)="_keyPressNumber($event)">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <div class="form-group row text-center">
                        <div class="tabs-content col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button md-button [disabled]="updateLoading" type="submit" class="btn-success">
                                <i *ngIf="updateLoading" class="fa fa-spinner fa-spin"></i>
                                Create
                            </button>
                            <button md-button type="button" class="btn-danger" (click)="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>