@import "../../../../theme/sass/conf/conf";
.mat-input-invalid .mat-input-placeholder {
    color: $warning;
}
.mat-input-error {
    color: $warning;
}
.mat-input-invalid .mat-input-ripple {
    background-color: $warning;
}
.tabs-content {
    margin-top: 30px;
}
.tabs-content-sub {
    margin-top: 0px;
}
.user-heading {
    display: inline-flex;
    h3 {
        margin: auto 0px;
    }
}
.table-subs {
    position: relative;
}
.td-left-align {
    text-align: left !important;
}
.multi-select-cls-sub {
    .dropdown-menu {
        left: inherit;
        right: 0px;
    }
}
.example-card {
    background: transparent;
    box-shadow: none !important;
    padding-top: 0px !important;
    .mat-card-image {
        margin: inherit;
    }
    md-card-header {
        margin-left: initial;
        > div {
            margin: initial;
            margin-top: 5px;
            .mat-card-title {
                font-weight: bold;
            }
        }
    }
}
.mat-paginator-pg {
    background: none;
}
.mat-sort-header-container {
    display: inline-flex !important;
    align-items: center;
}
label {
    padding-left: 0px;
}
.sub-table-button {
    margin: auto 15px !important;
    button.btn-primary {
        border-width: 1px !important;
        border-color: black !important;
        color: black !important;
        background-color: transparent !important;
        padding: 0.2rem 0.5rem !important;
        font-size: small !important;
        line-height: normal !important;
        &:focus {
            border-width: 1px !important;
            background-color: transparent !important;
            border-color: black !important;
        }
        &:hover {
            border-width: 1px !important;
            background-color: transparent !important;
            border-color: black !important;
            transform: scale(1.05) !important;
        }
    }
}
.create-form {
    margin-top: 50px;
    margin-bottom: 50px;
}