<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
    <div class="container container-page-top">
        <div class="container">
            <a href (click)="toggleMenu()" class="hidden-sm-up collapse-menu-link ion-navicon"></a>
            <a routerLink="/pages/home" class="al-logo clearfix">
                <span>
                    Labor Go
                </span>
            </a>

            <div class="user-profile clearfix">
                <div class="dropdown al-user-profile">
                    <img src="assets/img/lee.png" data-toggle="dropdown" aria-expanded="false">
                    <!-- <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-o" style="color: white"></i>
                    </a> -->
                    <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                        <li class="dropdown-item">
                            <a href routerLink="/pages/settings" class="signout">
                                <i class="fa fa-user"></i>Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a (click)="logout()" class="signout">
                                <i class="fa fa-power-off"></i>Sign out</a>
                        </li>
                    </ul>
                </div>
                <top-notification class="hidden-sm-up"></top-notification>

            </div>
        </div>
    </div>
</div>