@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';
.container-page-top {
    padding: 0px;
}
.page-top {
    top: 0px;
    background-color: $sidebar;
    position: fixed;
    z-index: 904;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.04);
    height: 66px;
    width: 100%;
    min-width: $resMin;
    padding: 0 32px 0 0px;
    .dropdown-toggle::after {
        display: none;
    }
}
.dropdown-menu{
    background-color: darken(#ffffff, 5%);
    box-shadow: 0 5px 10px 2px rgba(0,0,0,.25);
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
    color: $sidebar-text;
    display: block;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 66px;
    margin-left: 3px;
    span {
        color: $sidebar-text;
    }
}

a.al-logo:hover {
    color: darken($sidebar-text, 20);
}

.user-profile {
    position: absolute;
    right: 0px;
}

.top-nav-links {
    font-size: 13px;
    cursor: pointer; 
    color: #474747;
    outline: none;
    text-shadow: none;
    font-weight: 500; 
    margin-left: 10px;
}
.top-nav-links:hover {
    color: #026eff;
}
ul.my-networks-div {
    top: 66px;
    left: 350px;
    height: max-content;
    width: 180px;
    border: 1px solid transparent;
    li {
        cursor: pointer;
        padding: 0.75rem 1.5rem;  
    }
}
.my-net-link {
    color: #474747 !important;
    font-size: 13px;
    font-weight: 500;
}
ul.my-networks-div:after {
    bottom: 100%;
    right: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: darken(#ffffff, 5%);
    border-width: 10px;
    margin-right: 25px;
}
.my-networks-div {
    a {
        display: block;
        margin: auto 0px;
    }
    span {
        margin: auto 10px;
        color: #474747;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    i {
        margin: auto 0px;
        cursor: pointer;
        color: #474747;
    }
    img {
        margin: auto 0px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    .top-notify {
        display: flex;
    }
}
.al-user-profile {
    display: flex;
    float: right;
    transition: all .15s ease-in-out;
    padding: 0;
    width: auto;
    height: 66px;
    border: 0;
    opacity: 1;
    position: relative;
    ul.profile-dropdown:after {
        bottom: 100%;
        right: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: darken(#ffffff, 5%);
        border-width: 10px;
        margin-right: 28px;
    }
    a {
        display: block;
        margin: auto 0px;
    }
    span {
        margin: auto 10px;
        color: #474747;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    i {
        margin: auto 0px;
        cursor: pointer;
        color: #474747;
    }
    img {
        margin: auto 0px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    .top-notify {
        display: flex;
    }
}

a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;

    &:hover {
        color: $sidebar-text !important;
    }
}

a.collapse-menu-link {
    font-size: 31px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 42px;
    color: $sidebar-text;
    padding: 0;
    float: left;
    margin: 11px 14px 0 13px;

    &:hover {
        text-decoration: none;
        color: $sidebar-text;
    }
}

.al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;

    .tpl-skin-panel {
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.top-dropdown-menu[_ngcontent-c1] > a[_ngcontent-c1]
{
    &:hover{
        background: darken(#ffffff, 15%);
        color:#fff !important;
    }
    background:darken(#ffffff, 5%);
    color:#474747;
}
.icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('theme/palette.png');
    background-size: cover;
}

.search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: left;
    margin: 20px 0 0 30px;

    label {
        cursor: pointer;
    }
    i {
        width: 16px;
        display: inline-block;
        cursor: pointer;
        padding-left: 1px;
        font-size: 16px;
        margin-right: 13px; 
  }
  input {
    color: $sidebar-text;
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
}

@media screen and (max-width: $resS) {
  .search {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
    .container-page-top {
        .container {
            padding: 0px;
        }
    }
    .user-profile{
        min-width: 126px;
    }
    a.refresh-data {
        margin-right: 10px;
    }
    a.collapse-menu-link {
        margin-left: 0px;
    }
    a.al-logo {
        margin-left: 0px;
    }

    .al-skin-dropdown {
        display: none;
    }
}

.profile-toggle-link{
  cursor: pointer;
}

