<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
    <div class="container container-page-top">
        <div class="container">
            <a href (click)="toggleMenu()" class="hidden-lg-up collapse-menu-link ion-navicon"></a>
            <a class="al-logo clearfix">
                <img style="outline: none; cursor: pointer" routerLink="{{ homeUrl }}" src="assets/img/logo-2.png">

                <span routerLink="/pages/posts/allposts" class="hidden-md-down top-nav-links" style="margin-left: 41px; font-size: large; color: #026eff">
                    MY POSTS
                </span>
                <span *ngIf="showMyRequestLink" style="font-size: large; color: #026eff" routerLink="/pages/requests/allrequests" class="hidden-md-down top-nav-links">
                    MY REQUESTS
                </span>
                <span id="my-networks" data-toggle="dropdown" aria-expanded="false" class="hidden-md-down top-nav-links" style="margin-left: 10px; font-size: large; color: #026eff">
                    MY NETWORKS
                    <i aria-expanded="false" style="margin-left: 5px" class="fa fa-caret-down hidden-xs-down" style="margin-left: 10px; font-size: large; color: #026eff"></i>
                </span>

                <ul class="dropdown-menu top-dropdown-menu my-networks-div" [ngClass]="{'my-networks-div-emp': !showMyRequestLink}" aria-labelledby="my-networks">
                    <li (click)="goToLaborList()"  class="dropdown-item my-net-li">
                        <a class="signout my-net-link">
                            LABOR LIST
                        </a>
                    </li>
                    <li (click)="goToEmployerList()" class="dropdown-item my-net-li">
                        <a class="signout my-net-link">
                            EMPLOYER LIST
                        </a>
                    </li>
                    <!-- <li (click)="goToCompaniesList()" class="dropdown-item my-net-li">
                        <a class="signout my-net-link">
                            COMPANY LIST
                        </a>
                    </li>
                    <li (click)="goToFollowList()" class="dropdown-item my-net-li">
                        <a class="signout my-net-link">
                            FRIEND LIST
                        </a>
                    </li> -->
                </ul>

            </a>

            <div class="user-profile clearfix">
                <div class="dropdown al-user-profile">
                    <top-notification class="top-notify"></top-notification>
                    <img [src]="profilePicture" data-toggle="dropdown" aria-expanded="false">
                    <span class="hidden-xs-down" data-toggle="dropdown" aria-expanded="false">
                        {{ name }}
                    </span>
                    <i data-toggle="dropdown" aria-expanded="false" class="fa fa-caret-down hidden-xs-down"></i>
                    <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                        <li class="dropdown-item">
                            <a href routerLink="{{ profileUrl }}" class="signout">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a (click)="logout()" class="signout">
                                <i class="fa fa-power-off"></i>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>