<div class="row auth-main">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 left-container">
        <span class="app-logo">
            <!-- <a class="app-logo-link" routerLink="/login">
                <img class="app-logo-image" src="assets/img/logo.png">
            </a> -->
            <img class="app-logo-image" src="assets/img/logo.png">
        </span>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="auth-block login-auth-block animated bounce">
            <div class="top-label">
                <h1>
                    <strong>Verification Code</strong>
                </h1>
                <h4 class="hidden-xs-down" style="line-height: 30px">
                    Enter the verification code sent
                    <br> to {{ selectedCountryCode + selectedPhone }} via email.
                </h4>
                <h4 class="hidden-sm-up" style="line-height: 30px">
                    Enter the verification code sent to {{ selectedCountryCode + selectedPhone }} via email.
                </h4>
            </div>
            <div class="verify-cred-margin"></div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">

                <div class="form-group row">
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-3 col-sm-3">
                                <input type="text" [ngClass]="{'has-input-error': (!codeOne.valid && (codeOne.touched || submitted))}" class="otp-input"
                                    [formControl]="codeOne" maxlength="1" #inputCodeOne (keypress)="_keyPressOtpNumber($event, 'inputCodeTwo')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" [ngClass]="{'has-input-error': (!codeTwo.valid && (codeTwo.touched || submitted))}" class="otp-input"
                                    [formControl]="codeTwo" maxlength="1" #inputCodeTwo (keypress)="_keyPressOtpNumber($event, 'inputCodeThree')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" [ngClass]="{'has-input-error': (!codeThree.valid && (codeThree.touched || submitted))}" class="otp-input"
                                    [formControl]="codeThree" maxlength="1" #inputCodeThree (keypress)="_keyPressOtpNumber($event, 'inputCodeFour')">
                            </div>
                            <div class="col-3 col-sm-3">
                                <input type="text" [ngClass]="{'has-input-error': (!codeFour.valid && (codeFour.touched || submitted))}" class="otp-input"
                                    [formControl]="codeFour" maxlength="1" #inputCodeFour (keypress)="_keyPressOtpNumber($event, 'inputCodeOne')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verify-cred-margin-in"></div>
                <div class="form-action-btn">
                    <div class="form-group row">
                        <div class="col-12 col-sm-12">
                            <button md-raised-button color="primary" type="submit" class="btn btn-warning btn-block btn-login">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="form-action-link">
                    <div class="form-group row">
                        <div class="col-6 col-sm-6 text-left forget change-credential">
                            <a style="cursor: pointer" (click)="resendVerificationCode()">
                                RESEND VERIFICATION CODE
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 text-right forget change-credential">
                            <a style="cursor: pointer" (click)="openChangeDialog()">
                                CHANGE MOBILE NUMBER
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>