@import "../../../../theme/sass/conf/conf";
.jobs-card-heading {
    width: 100%;
}
.jobs-card-header {
    position: relative;
}
.contact-section {
    margin-top: 10px;
}
.contact-card {
    margin-bottom: 10px;
}
.inner-content{
}

.text-content{
    margin-top:15px;
    .head{
    font-family: "Roboto", sans-serif;;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    color: #1b1b1b;
}}
.content{
    font-family: "Roboto", sans-serif;;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    line-height: 130%;
    text-align: left;
    color: #b1b1b1;
}

.added-card{
    color:black;
    font-weight: 600;
    padding: 22px;
    border:2px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
    span{
        img{
            height:16px;
            width:40px;
        }
    }
}
#card-no{
    float:right;
}
.card-outer{
    margin-bottom: 15px;
}
.line{
    border: 2px solid lightgray;
    height: 1px;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 1;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }
  .card-input{
      text-decoration: none;
      box-shadow: none !important;
      border:2px solid lightgrey;
      padding:22px;
      border-radius: 3px;
      font-size: 16px;
  }
  md-card-title .add-card-header{
      margin:30px 0 30px 0;
  }
  .save-card-btn{
    background:#026eff;
    border-radius:3px;
    height: 60px;
    box-shadow: none;
    border: none;
    color:white;
    font-weight: 900;
  }
  
.defaultcheck{
    color:green;
}  
.amount{
    float: right;
}
.card_photo{
    width:20%;
}
.hidden_no{
    width:70%;
}
delete-card-modal{
    margin-top:200px;
}