<div class="container-fluid animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-jobs-heading">
                <md-card class="jobs-card-heading">
                    <md-card-header class="jobs-card-header jobs-card-heading">
                        <md-card-title style="font-weight: 600; color: #474747; margin-bottom: 0px">
                            <h2>Payments</h2>
                        </md-card-title>
                    </md-card-header>
                </md-card>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <md-card class="contact-card">
            <md-card-content>
                <div class="container">
                    <div class="row">
                        <div class="card-outer col-sm-12 col-md-6">
                            <div class="added-card col-sm-12">
                                hello
                            </div>
                        </div>
                        <div class="card-outer col-sm-12 col-md-6">
                            <div class="added-card col-sm-12">
                                hello
                            </div>
                        </div>
                        <div class="card-outer col-sm-12 col-md-6">
                            <div class="added-card col-sm-12">
                                hello
                            </div>
                        </div>
                        <div class="card-outer col-sm-12 col-md-6">
                            <div class="added-card col-sm-12">
                                hello
                            </div>
                        </div>
                    </div>

                    <hr class="hr-text" data-content="or">
                    <md-card-title  style="font-weight: 600; color: #474747; margin-bottom: 30px; margin-top:30px;">
                        <h2>Add new card</h2>
                    </md-card-title>
                    <div class="row">
                        <div class="card-outer col-sm-12 col-md-6">
                            <input class="card-input col-sm-12" placeholder="Card Holder Name">
                        </div>
                        <div class="card-outer col-sm-12 col-md-6" >
                            <input class="card-input col-sm-12" placeholder="Card Number">
                        </div>
                        <div class="card-outer col-sm-12 col-md-6" >
                            <input class="card-input col-sm-12" placeholder="Exp. Date">
                        </div>
                        <div class="card-outer col-sm-12 col-md-6" >
                            <input class="card-input col-sm-12" placeholder="CVV/CVC">
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>