<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">CHANGE PASSWORD</h4>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!oldPassword.valid && oldPassword.touched), 'has-success': (oldPassword.valid && oldPassword.touched)}">
                <label for="inputPassword3" class="col-sm-3 control-label">Old Password</label>

                <div class="col-sm-9">
                    <input [formControl]="oldPassword" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!newPassword.valid && newPassword.touched), 'has-success': (oldPassword.valid && oldPassword.touched)}">
                <label for="inputPassword4" class="col-sm-3 control-label">New Password</label>

                <div class="col-sm-9">
                    <input [formControl]="newPassword" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="modal-footer">
                <!-- @TODO Multilingual -->
                <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Update</button>
                <button class="btn btn-danger " (click)="closeModal()">CLOSE</button>
            </div>
        </form>
    </div>
</div>