@import "../../../theme/sass/conf/conf";
.modal-buttons .btn {
    // margin-right: 20px;
    margin: auto;
}
.modal-content {
    color: $dropdown-text;
    margin: auto;
}
.modal-body {
    // background-color: lightblue;
}
.modal-content {
    margin-top: 200px;
    background-color: lightskyblue;
    //min-height: 40vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: auto;
    /* @media(max-width: 768px) {
      min-height: calc(100vh - 20px);
    }*/
}