<div class="container-fluid messagePanel animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-feed-heading">
                <md-card class="posts-card-heading">
                    <md-card-header class="posts-card-header posts-card-heading">
                        <md-card-title style="font-weight: 600; color: #1b1b1b; margin-bottom: 0px"><h2>My Post</h2></md-card-title>
                        <div class="posts-header-rating">
                            
                        </div>
                    </md-card-header>
                    <md-card-content>
                       
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="posts-section">
        <md-card class="posts-card">
            <md-card-header class="posts-card-header">
                <div md-card-avatar class="posts-header-image">
                    <img mat-card-avatar [src]="profilePicture ? profilePicture : 'assets/img/default-profile.jpg'">
                </div>
                <md-card-title style="font-weight: 600; color: #1b1b1b">Charles Bates</md-card-title>
                <md-card-subtitle style="font-weight: 500">Electrical: Air-Conditioning</md-card-subtitle>
                <div class="posts-header-rating">
                    
                </div>
            </md-card-header>
            <md-card-content>
                <p class="md-card-content-posts-p">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
                <p class="md-card-content-posts-p-date">
                    12/12/2017
                </p>
            </md-card-content>
        </md-card>
        
    </div>

</div>