<div class="container-fluid messagePanel animated bounce">
    <div class="panel-heading">
        <div class="row">
            <div class="col-12 col-sm-12 user-feed-heading">
                <md-card class="posts-card-heading">
                    <md-card-header *ngIf="post" class="posts-card-header posts-card-heading">
                        <md-card-title style="font-weight: 600; color: #1b1b1b">
                            <h3 style="text-align: left">{{post.title}}</h3>
                        </md-card-title>
                        <md-card-subtitle style="font-weight: 500; margin-bottom: 0px; font-size: small">{{post.category ? post.category + ': ' + post.subCategory : post.category}}</md-card-subtitle>
                        <div class="posts-header-right">
                            <div style="margin-bottom: 0.5rem; color: #026eff; font-weight: 600">
                                <h4>{{'$' + post.rate + '/' + (post.rateType == 'DAILY' ? 'day' : post.rateType == 'WEEKLY' ?
                                    'week' : post.rateType == 'MONTHLY' ? 'month' : 'hr')}}</h4>
                            </div>
                            <div style="color: #1c9f7f; font-weight: 500; font-size: small">
                                {{post.jobStatus == 'IN_PROGRESS' ? 'IN PROGRESS' : post.jobStatus}}
                            </div>
                        </div>
                    </md-card-header>
                    <md-card-content *ngIf="!post">
                        Loading...
                        <i class="fa fa-spinner fa-spin"></i>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
    <div class="posts-section">
        <md-card *ngIf="post" class="posts-card">
            <md-card-content>
                <p class="md-card-content-posts-label">
                    Job Location
                </p>
                <p class="md-card-content-posts-content">
                    {{post.employerAddress ? showAddress(post.employerAddress.addressLine1, post.employerAddress.city, post.employerAddress.zipCode,
                    post.employerAddress.state, post.employerAddress.country) : ''}}
                </p>
                <p class="md-card-content-posts-label">
                    Job Date
                </p>
                <p class="md-card-content-posts-content">
                    {{post.startDate | date : 'dd/MM/yyyy'}} - {{post.endDate | date : 'dd/MM/yyyy'}}
                </p>
                <p class="md-card-content-posts-label">
                    Job Details
                </p>
                <p class="md-card-content-posts-content">
                    {{post.jobDetails}}
                </p>
                <p class="md-card-content-posts-label">
                    No. of Labors Required
                </p>
                <p class="md-card-content-posts-content">
                    {{post.requiredLabourers}}
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div *ngIf="labours && labours.length > 0" class="posts-section">
        <md-card class="posts-card">
            <md-card-subtitle style="font-weight: 500">Labor List</md-card-subtitle>
            <div style="margin-top: 10px" *ngFor="let labour of labours; let i = index">
                <md-card-header class="posts-card-header">
                    <div *ngIf="labour.labourId" style="position: relative" md-card-avatar class="posts-header-image">
                        <i *ngIf="labour.requestStatus == 'CONFIRMED_BY_EMPLOYER'" style="position: absolute; top: -5px; right: 0px; color: #68d426" class="fa fa-check"></i>
                        <i *ngIf="labour.requestStatus == 'CANCELLED_BY_EMPLOYER'" style="position: absolute; top: -5px; right: 0px; color: red" class="fa fa-close"></i>
                        <img *ngIf="labour.labourId.profilePicture" mat-card-avatar [src]="labour.labourId.profilePicture.thumb ? labour.labourId.profilePicture.thumb : 'assets/img/default-profile.jpg'">
                    </div>
                    <md-card-title *ngIf="labour.labourId" style="font-weight: 600; color: #1b1b1b">{{labour.labourId.fullName ? labour.labourId.fullName : labour.labourId.lastName ? labour.labourId.firstName + ' ' + labour.labourId.lastName : labour.labourId.firstName}}</md-card-title>
                    <md-card-subtitle style="font-weight: 500; color: #026eff; cursor: pointer; font-size: small" (click)="viewProfile(labour._id)">View Profile</md-card-subtitle>
                    <div *ngIf="labour.labourId" class="posts-header-contact">
                        <div>
                            <i (click)="showPhoneInfo(i)" *ngIf="!labour.labourId.isPhoneNumberHidden && !labour.showPhone" class="fa fa-phone-square"></i>
                            <i (click)="showEmailInfo(i)" *ngIf="!labour.showEmail" class="fa fa-envelope"></i>
                        </div>
                        <div *ngIf="labour.showPhone">{{labour.labourId.countryCode + labour.labourId.phoneNumber}}</div>
                        <div *ngIf="labour.showEmail">{{labour.labourId.email}}</div>
                    </div>
                </md-card-header>
                <md-card-content *ngIf="labour.requestStatus != 'CANCELLED_BY_EMPLOYER'" style="margin-bottom: 0px">
                    <md-card-actions style="margin-left: 0px; margin-right: 0px">
                        <button style="background-color: #026eff" color="primary" *ngIf="labour.requestStatus != 'CANCELLED_BY_EMPLOYER' && labour.requestStatus != 'CONFIRMED_BY_EMPLOYER' && labour.requestStatus == 'ACCEPTED_BY_LABOUR'" (click)="hire(labour?.labourId?._id, labour?.jobId)" md-raised-button>HIRE</button>
                        <button style="background-color: #026eff" color="primary" *ngIf="labour.requestStatus != 'CANCELLED_BY_EMPLOYER' && labour.requestStatus != 'CONFIRMED_BY_EMPLOYER' && labour.requestStatus == 'ACCEPTED_BY_LABOUR'" (click)="reject(labour?.labourId?._id, labour?.jobId)" md-raised-button>REJECT</button>
                    </md-card-actions>
                </md-card-content>
            </div>
        </md-card>
    </div>
</div>