@import "../../../../theme/sass/conf/conf";
.mat-input-invalid .mat-input-placeholder {
  color: $warning;
}
.mat-input-error {
  color: $warning;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.page-header{
  margin-bottom:24px 
}
