<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDvIVQbdP34EXfGi0pDfHWetfGqIchpbSQ&libraries=places"></script>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
        <% if (webpackConfig.htmlElements.headTags) { %>
            <!-- Configured Head Tags  -->
            <%= webpackConfig.htmlElements.headTags %>
                <% } %>
                    <!-- base url -->
                    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
    </head>

    <body>
        <app></app>
        <div id="preloader">
            <div></div>
        </div>
        <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
            <!-- Webpack Dev Server reload -->
            <script src="/webpack-dev-server.js"></script>
            <% } %>
    </body>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '124864551546012',
                cookie: true,
                xfbml: true,
                version: 'v2.1'
            });
            FB.AppEvents.logPageView();
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</html>